@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.MyPreferences.Models.EditEmailPreferencesViewModel
<div class="article-with-small my-4 text-black">

    @if (!string.IsNullOrWhiteSpace(Model.Error))
    {
        <p class="text-danger">@Html.Raw(Model.Error)</p>
    }
<section>
    <h3>@Html.Glass().Editable(Model.Content, x => x.Title)</h3>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("DatasourceId", Model.Content.Id)
        @Html.Sitecore().Placeholder("fund-accordion-list")
        <div class="row mt-4">
            <div class="col-lg-12">
                <div class="input-group">
                    @Html.ValidationMessageFor(x => x.IsInstitutionalBulletin, string.Empty, new { @class = "text-danger checkbox__input" })
                    @Html.CheckBoxFor(x => x.IsInstitutionalBulletin)
                    <label>@Html.Glass().Editable(Model.Content, x => x.InstitutionalBulletinTitle)</label>
                </div>
                <div class="input-group">
                    @Html.ValidationMessageFor(x => x.UnsubscribeAll, string.Empty, new { @class = "text-danger checkbox__input" })
                    @Html.CheckBoxFor(x => x.UnsubscribeAll)
                    <label>@Html.Glass().Editable(Model.Content, x => x.UnsubscribeAllText)</label>
                </div>
                <div class="input-btn">
                    <input type="submit" class="btn-primary" value="@Model.Content.SubmitCTAText" />
                </div>
            </div>
        </div>
    }
    </section>
    @Html.Sitecore().Placeholder("privacy-notice")
</div>