@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.MyPreferences.Models.EditEmailPreferencesViewModel
<div class="article-with-small my-4 text-black">

    @if (!string.IsNullOrWhiteSpace(Model.Error))
    {
        <p class="text-danger">@Html.Raw(Model.Error)</p>
    }
<section class="edit-preferences">
    <h3>@Html.Glass().Editable(Model.Content, x => x.Title)</h3>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("DatasourceId", Model.Content.Id)
        @Html.Sitecore().Placeholder("fund-accordion-list")
        <div class="row mt-4">
            <div class="col-lg-12">
                @if (Model.ShowUnsubscribeTortoise)
                {
                    <div class="edit-preferences__select">
                        <label class="checkbox">
                            @Html.ValidationMessageFor(x => x.UnsubscribeTortoise, string.Empty, new { @class = "text-danger" })
                            @Html.CheckBoxFor(x => x.UnsubscribeTortoise, new { @class = "checkbox__input" })
                            <span class="checkbox__box"></span>
                            @Html.Glass().Editable(Model.Content, x => x.UnsubscribeTortoiseNewsletterText)
                        </label>
                    </div>
                }
                <div class="edit-preferences__select">
                    <label class="checkbox">
                        @Html.ValidationMessageFor(x => x.UnsubscribeAll, string.Empty, new { @class = "text-danger" })
                        @Html.CheckBoxFor(x => x.UnsubscribeAll, new { @class = "checkbox__input" })
                        <span class="checkbox__box"></span>
                        @Html.Glass().Editable(Model.Content, x => x.UnsubscribeAllText)
                    </label>
                </div>
                <div class="input-btn">
                    <input type="submit" class="btn-primary" value="@Model.Content.SubmitCTAText" />
                </div>
            </div>
        </div>
    }
    </section>
    @Html.Sitecore().Placeholder("privacy-notice")
</div>