@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.MyPreferences.Models.IFundAccordionList

<div class="accordion-section accordion-section_full content-preferences__accordion">
    <div class="container">
        <div id="accordionFlushExample" class="accordion accordion_white">
            @for (int i = 0; i < Model.SFProcessList.Count; i++)
            {
                var collapsedClass = i != 0 ? "collapsed" : string.Empty;
                <div class="accordion__card">
                    <div class="accordion__header">
                        <div class="accordion__link @collapsedClass" data-toggle="collapse" data-target="#flush-collapse@(i)" aria-expanded="false" aria-controls="flush-collapse@(i)">
                            @Model.SFProcessList[i].SFProcessName
                            <div class="content-preferences__accordion-controls">
                                <div class="options_count"><span class="content-preferences__category">fund</span><span class="slected_count"></span>of<span class="total_count"></span></div>
                                <i class="icon-plus accordion__plus"></i>
                                <i class="icon-minus accordion__minus"></i>
                            </div>
                        </div>
                    </div>
                    <div id="flush-collapse@(i)" class="collapse @(i == 0 ? "show" : string.Empty)" aria-labelledby="flush-heading@(i)" data-parent="#accordionFlushExample">
                        <div class="accordion__body">
                            <div class="multi-select-card">
                                <label class="multi-select-card__row multi-select-card__allSelected">
                                    @Html.Glass().Editable(Model, x => x.FollowTeamTitle)
                                    @Html.CheckBoxFor(modelItem => modelItem.SFProcessList[i].IsProcessSelected)
                                    <span class="checkmark"></span>
                                </label>
                                @Html.HiddenFor(modelItem => modelItem.SFProcessList[i].SFProcessId)
                                <h4 class="content-preferences__subtitle">@Html.Glass().Editable(Model, x => x.TeamFundsTitle)</h4>
                                <div class="multi-select-card__group">
                                    @for (int f = 0; f < Model.SFProcessList[i].SFFundList.Count; f++)
                                    {
                                        <label class="multi-select-card__row">
                                            @Model.SFProcessList[i].SFFundList[f].SFFundName
                                            @Html.CheckBoxFor(modelItem => modelItem.SFProcessList[i].SFFundList[f].IsFundSelected)
                                            <span class="checkmark"></span>
                                        </label>
                                        @Html.HiddenFor(modelItem => modelItem.SFProcessList[i].SFFundList[f].SFFundId)
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>