@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.MyPreferences.Models.RegisterInvestorViewModel
@{
    Html.EnableClientValidation(true);
}
<section class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2>@Html.Glass().Editable(Model.Content, x => x.Title)</h2>
            <div>
                <p>
                    @Html.Glass().Editable(Model.Content, x => x.Subtitle)
                </p>
            </div>
            <div>
                <p>
                    @Html.Glass().Editable(Model.Content, x => x.Description)
                </p>
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.Error))
            {
                <div>
                    <p> @Html.Glass().Editable(Model, x => x.Error)</p>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
            {
            <div class="input-group">
                @Html.LabelFor(x => x.FirstName)
                @Html.TextBoxFor(x => x.FirstName)
                @Html.ValidationMessageFor(x => x.FirstName)
            </div>

            <div class="input-group">
                @Html.LabelFor(x => x.LastName)
                @Html.TextBoxFor(x => x.LastName)
                @Html.ValidationMessageFor(x => x.LastName)
            </div>

            <div class="input-group">
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email)
                @Html.ValidationMessageFor(x => x.Email)
            </div>
                if (Model.InvestorType == LionTrust.Foundation.Onboarding.Constants.InvestorType.Professional)
                {
                    <div class="input-group">
                        @Html.LabelFor(x => x.CompanyId)
                        @Html.TextBoxFor(x => x.CompanyId)
                    </div>

                    <div class="input-group">
                        @Html.LabelFor(x => x.CompanyName)
                        @Html.TextBoxFor(x => x.CompanyName)
                    </div>
                }

        <div class="input-group">
            @Html.LabelFor(x => x.UKResident)
            @Html.DropDownListFor(x => x.UKResident, new List<SelectListItem>() { new SelectListItem { Text = "Yes", Value = "true" }, new SelectListItem { Text = "No", Value = "false" } }, "Please Select")
            @Html.ValidationMessageFor(x => x.UKResident)
        </div>

                <div class="input-btn">
                    <input type="submit" class="btn-primary" value="Register" />
                </div>
            }
        </div>
    </div>
</section>