@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.MyPreferences.Models.RegisterInvestorViewModel
<section class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2>@Html.Glass().Editable(Model.Content, x => x.Title)</h2>
            <div class="text-black">
                <p>
                    @Html.Glass().Editable(Model.Content, x => x.Subtitle)
                </p>
            </div>
            <div class="text-black">
                <p>
                    @Html.Glass().Editable(Model.Content, x => x.Description)
                </p>
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.Error))
            {
                <div class="text-danger">
                    <p>@Html.Raw(Model.Error)</p>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
            {
                @Html.Sitecore().FormHandler("RegisterInvestor", "Submit")
                @Html.Hidden("DatasourceId", Model.Content.Id)
                @Html.HiddenFor(x => x.ProfessionalInvestor)
                <div class="input-group">
                    @Html.ValidationMessageFor(x => x.FirstName, string.Empty, new { @class = "text-danger" })
                    @Html.TextBoxFor(x => x.FirstName)
                    @Html.LabelFor(x => x.FirstName)
                </div>

                <div class="input-group">
                    @Html.ValidationMessageFor(x => x.LastName, string.Empty, new { @class = "text-danger" })
                    @Html.TextBoxFor(x => x.LastName)
                    @Html.LabelFor(x => x.LastName)
                </div>

                <div class="input-group">
                    @Html.ValidationMessageFor(x => x.Email, string.Empty, new { @class = "text-danger" })
                    @Html.TextBoxFor(x => x.Email)
                    @Html.LabelFor(x => x.Email)
                </div>
                if (Model.ProfessionalInvestor)
                {
                    <div class="input-group">
                        @Html.TextBoxFor(x => x.CompanyId)
                        @Html.LabelFor(x => x.CompanyId)
                    </div>

                    <div class="input-group">
                        @Html.TextBoxFor(x => x.CompanyName)
                        @Html.LabelFor(x => x.CompanyName)
                    </div>
                }

                <div class="input-group">
                    @Html.ValidationMessageFor(x => x.UKResident, string.Empty, new { @class = "text-danger" })
                    @Html.DropDownListFor(x => x.UKResident, new List<SelectListItem>() { new SelectListItem { Text = "Yes", Value = "true" }, new SelectListItem { Text = "No", Value = "false" } }, "Please Select")
                    @Html.LabelFor(x => x.UKResident)
                </div>

                <div class="input-btn">
                    <input type="submit" class="btn-primary" value="Register" />
                </div>
            }
        </div>
    </div>
</section>