@using Glass.Mapper.Sc.Web.Mvc
@using LionTrust.Feature.Banner.ViewModels
@model BannerWithImageViewModel

@if (Model != null && Model.ComponentData != null)
{
    <header class="header header-hero d-flex flex-column justify-content-between" style="@Model.BackgroundImageStyle">
        <section class="container">
            @Html.Sitecore().Placeholder("navigation")
            <div class="d-flex flex-column">
                <div class="row">
                    <div class="col-xl-6 offset-xl-3">
                        <div class="article-hero">
                            <div class="article-hero__content text-center">
                                <h1 class="article-hero__title">
                                    @Html.Glass().Editable(m => m.ComponentData.Heading)
                                </h1>
                                <h4 class="article-hero__subtitle">
                                    @Html.Glass().Editable(m => m.ComponentData.Copy)
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="section">
            @Html.Sitecore().Placeholder("sub-banner")
        </div>
    </header>
}
else if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <div style="background-color:white"><span style="color:black">Please add datasource to Banner with Image component</span></div>
}