@using System.Collections.Specialized
@using LionTrust.Foundation.Analytics.Goals
@model LionTrust.Feature.Banner.Models.IBannerWithIcons
@if (Model != null)
{
    using (Html.Glass().BeginEditFrame("/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Feature/Banner/BannerWithIcons", Model.Id.ToString(), "Edit Banner With icons"))
    {
        <div class="howtoinvest">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="howtoinvest__box">
                            <div class="howtoinvest__head">
                                @Html.Glass().Editable(Model, m => m.Heading)
                            </div>

                            <div class="howtoinvest__body">
                                @if (Model.Icons != null && Model.Icons.Any())
                                {
                                    foreach (var iconWithText in Model.Icons)
                                    {
                                        using (Html.Glass().BeginEditFrame("/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Feature/Banner/BannerWithIcons/IconWithText", iconWithText.Id.ToString(), "Edit icon with text"))
                                        {
                                            if (Sitecore.Context.PageMode.IsExperienceEditor)
                                            {
                                                @: Edit Icon with Text
                                            }
                                            <div class="howtoinvest__slide">
                                                @Html.Glass().RenderImage(iconWithText, m => m.Icon, new NameValueCollection { { "class", "howtoinvest__img" } }, isEditable: true)
                                                <div class="howtoinvest__desc">@Html.Glass().Editable(iconWithText, m => m.Text)</div>
                                            </div>
                                        }
                                    }
                                }
                            </div>

                            <div class="howtoinvest__footer">
                                @using (Html.Glass().AnalyticsGlass().BeginRenderLinkWithGoal(Model, m => m.PrimaryCTALink, Model.PrimaryCTALinkGoal, new System.Collections.Specialized.NameValueCollection { { "class", "btn btn-primary imagepromo__btn" } }, isEditable: true))
                                {
                                    if (Model.PrimaryCTALink != null)
                                    {
                                        @Model.PrimaryCTALink.Text
                                    }
                                    <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>
                                }

                                @using (Html.Glass().AnalyticsGlass().BeginRenderLinkWithGoal(Model, m => m.SecondaryCTALink, Model.SecondaryCTALinkGoal, new System.Collections.Specialized.NameValueCollection { { "class", "btn btn-primary-forward imagepromo__btn" } }, isEditable: true))
                                {
                                    if (Model.SecondaryCTALink != null)
                                    {
                                        @Model.SecondaryCTALink.Text
                                    }
                                    <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    @: Add datasource for Banner With Icons component
}