@using Glass.Mapper.Sc.Web.Mvc
@using System.Collections.Specialized
@model LionTrust.Feature.Contact.Models.IContactCard
@if (Model != null)
{
    var showTelLabel = !string.IsNullOrEmpty(Model.TelNumber) || !string.IsNullOrEmpty(Model.OutsideTelNumber) || Sitecore.Context.PageMode.IsExperienceEditor;
    var showTelDivider = (!string.IsNullOrEmpty(Model.TelNumber) && !string.IsNullOrEmpty(Model.OutsideTelNumber)) || Sitecore.Context.PageMode.IsExperienceEditor;
    var showFaxLabel = !string.IsNullOrEmpty(Model.FaxNumber) || !string.IsNullOrEmpty(Model.OutsideFaxNumber) || Sitecore.Context.PageMode.IsExperienceEditor;
    var showFaxDivider = (!string.IsNullOrEmpty(Model.FaxNumber) && !string.IsNullOrEmpty(Model.OutsideFaxNumber)) || Sitecore.Context.PageMode.IsExperienceEditor;
    <div class="card">
        <div class="contacts">
            <div class="contacts__row">
                <div class="contacts__cell">
                    <h3 class="contacts__title">@Html.Glass().Editable(Model, m => m.Heading)</h3>
                    <div class="contacts__text">
                        <div class="contacts__text-top">
                            <span class="font-500">@Html.Glass().Editable(Model, m => m.SubHeading)</span>
                            <span>@Html.Glass().Editable(Model, m => m.Street)</span>
                            <span>@Html.Glass().Editable(Model, m => m.City)</span>
                            <span>@Html.Glass().Editable(Model, m => m.PostalCode)</span>
                        </div>
                        <div class="contacts__text-bottom">
                            <div class="d-xl-flex">
                                @if (showTelLabel)
                                {
                                    <span class="lit-column">@Html.Glass().Editable(Model, m => m.TelLabel)</span>
                                }
                                <div class="contacts__phones">
                                    <span class="contacts__phone">@Html.Glass().Editable(Model, m => m.TelNumber)</span>
                                    @if (showTelDivider)
                                    {
                                        <span class="contacts__divider">/</span>
                                    }
                                    <span class="contacts__phone">@Html.Glass().Editable(Model, m => m.OutsideTelNumber)</span>
                                    @if (!string.IsNullOrEmpty(Model.OutsideTelNumber) || Sitecore.Context.PageMode.IsExperienceEditor)
                                    {
                                        <span class="gray-text">@Html.Glass().Editable(Model, m => m.OutsideLabel)</span>
                                    }
                                </div>

                            </div>
                            <div class="d-xl-flex">
                                @if (showFaxLabel)
                                {
                                    <span class="lit-column">@Html.Glass().Editable(Model, m => m.FaxLabel)</span>
                                }
                                <div class="contacts__phones">
                                    <span class="contacts__phone">@Html.Glass().Editable(Model, m => m.FaxNumber)</span>
                                    @if (showFaxDivider)
                                    {
                                        <span class="contacts__divider">/</span>
                                    }
                                    <span class="contacts__phone">@Html.Glass().Editable(Model, m => m.OutsideFaxNumber)</span>
                                    @if (!string.IsNullOrEmpty(Model.OutsideFaxNumber) || Sitecore.Context.PageMode.IsExperienceEditor)
                                    {
                                        <span class="gray-text">@Html.Glass().Editable(Model, m => m.OutsideLabel)</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contacts__btns">
                        @using (Html.Glass().BeginRenderLink(Model, m => m.CTA1Link, new NameValueCollection { { "class", "btn btn-primary contacts__btn" } }, isEditable: true))
                        {
                            if (Model.CTA1Link != null)
                            {
                                @Model.CTA1Link.Text
                            }
                            else if (Sitecore.Context.PageMode.IsExperienceEditor)
                            {
                                @:Edit First CTA
                            }
                            <i class="icon-arrow-right animate-arrow"></i>
                        }
                        @using (Html.Glass().BeginRenderLink(Model, m => m.CTA2Link, new NameValueCollection { { "class", "link-styles contacts__btn-link" } }, isEditable: true))
                        {
                            if (Model.CTA2Link != null)
                            {
                                @Model.CTA2Link.Text
                            }
                            else if (Sitecore.Context.PageMode.IsExperienceEditor)
                            {
                                @:Edit Second CTA
                            }
                            <i class="icon-arrow-right animate-arrow"></i>
                        }
                    </div>
                </div>
                <div class="contacts__cell contacts__cell-image">
                    @Html.Glass().RenderImage(Model, x => x.Image, new NameValueCollection { { "class", "contacts__image" } }, isEditable: true)
                </div>
            </div>
        </div>
    </div>
}