@using Glass.Mapper.Sc.Web.Mvc
@using LionTrust.Foundation.Navigation.Models
@model LionTrust.Feature.Contact.Models.IFollowUsSocials
@if (Model != null)
{
    var twitterColumn = "col-xl-7";
    var socialColumn = "col-xl-5";

    <section class="container follow-us-section">
        <div class="row">
            <div class="col-lg-6">
                <div class="follow-us">
                    <h2 class="h2 follow-us__title">@Html.Glass().Editable(Model, m => m.Heading)</h2>
                    <div class="follow-us__text">
                        <p>
                            @Html.Glass().Editable(Model, m => m.Description)
                        </p>
                    </div>
                    <div class="row">
                        <div class="@socialColumn">
                            <div class="follow-us__links">
                                @foreach (var socialIcon in Model.SocialIcons)
                                {
                                    if (socialIcon == null)
                                    {
                                        continue;
                                    }
                                    if (socialIcon.TwitterAccounts != null && socialIcon.TwitterAccounts.Any())
                                    {
                                        continue;
                                    }
                                    else
                                    {

                                        @Html.Partial("~/Views/Contact/_FollowUsSocialIcon.cshtml", socialIcon)

                                    }
                                }
                            </div>
                        </div>
                        @foreach (var socialIcon in Model.SocialIcons)
                        {
                            if (socialIcon == null)
                            {
                                continue;
                            }
                            if (socialIcon.TwitterAccounts != null && socialIcon.TwitterAccounts.Any())
                            {
                                <div class="@twitterColumn">
                                    <div class="follow-us__links">
                                        @Html.Partial("~/Views/Contact/_FollowUsSocialIcon.cshtml", socialIcon)
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <div style="background-color:white"><span style="color:black">Please add datasource to Follow Us Socials component</span></div>
}