@model LionTrust.Feature.Fund.Models.FourFundStatsViewModel
@if (Model != null && Model.Fund != null && Model.FourFundStatsComponent != null)
{
<section class="container">
    <div class="fund-stats">
        <div class="row">
            <div class="col-lg-3">
                <div class="fund-stats__item">
                    <span class="fund-stats__title">@Html.Glass().Editable(Model.FourFundStatsComponent, m => m.FundLaunchDateLabel)</span>
                    <span class="fund-stats__value">
                        @if (Sitecore.Context.PageMode.IsExperienceEditor)
                        {
                            using (Html.Glass().BeginEditFrame("/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Feature/Fund/FourFundStats", Model.Fund.Id.ToString(), "Edit Fund Launch date"))
                            {
                                if (Model.Fund.LaunchDate != null)
                                {
                                    @Model.Fund.LaunchDate.ToString("dd/MM/yyyy")
                                }
                                else
                                {
                                    @:Edit Fund Launch Date
                                }
                            }
                        }
                        else
                        {
                            if (Model.Fund.LaunchDate != null)
                            {
                                @Model.Fund.LaunchDate.ToString("dd/MM/yyyy")
                            }
                        }
                    </span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="fund-stats__item">
                    <span class="fund-stats__title">@Html.Glass().Editable(Model.FourFundStatsComponent, m => m.FundSizeLabel)</span>
                    <span class="fund-stats__value">
                        @Html.Glass().Editable(Model.Fund, m => m.FundSize)
                    </span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="fund-stats__item">
                    <span class="fund-stats__title">@Html.Glass().Editable(Model.FourFundStatsComponent, m => m.NumberOfHoldingsLabel)</span>
                    <span class="fund-stats__value">
                        @Html.Glass().Editable(Model.Fund, m => m.NumberOfHoldings)
                    </span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="fund-stats__item">
                    <span class="fund-stats__title">@Html.Glass().Editable(Model.FourFundStatsComponent, m => m.ManagedByCurrentTeamForLabel)</span>
                    <span class="fund-stats__value">
                        @Html.Glass().Editable(Model.FourFundStatsComponent, m => m.ManagedByCurrentTeamForValue)
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
}
else if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    @: Add datasource for Four Fund Stats Component
}