@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.Fund.FundStats.FundStatsViewModel
@if (Model != null && Model.FundSelector != null && Model.FundSelector.Fund != null)
{
    <section class="container">
        <div class="fund-stats">
            <div class="row">
                <div class="col-lg-3">
                    <div class="fund-stats__item">
                        <span class="fund-stats__title">@Html.Glass().Editable(Model.FundSelector, m => m.FundLaunchDateLabel)</span>
                        <span class="fund-stats__value">
                            @if (Sitecore.Context.PageMode.IsExperienceEditor)
                            {
                                using (Html.Glass().BeginEditFrame("/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Feature/Fund/FourFundStats", Model.FundSelector.Fund.Id.ToString(), "Edit Fund Launch date"))
                                {
                                    if (Model.FundSelector.Fund.LaunchDate != null)
                                    {
                                        @Model.FundSelector.Fund.LaunchDate.ToString("dd/MM/yyyy")
                                    }
                                    else
                                    {
                                        @:Edit Fund Launch Date
                                    }
                                }
                            }
                            else
                            {
                                @Html.Glass().Editable(Model.FundSelector.Fund, m => m.LaunchDate.ToString("dd/MM/yyyy"))
                            }
                        </span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="fund-stats__item">
                        <span class="fund-stats__title">@Html.Glass().Editable(Model.FundSelector, m => m.FundSizeLabel)</span>
                        <span class="fund-stats__value">
                            @if (!string.IsNullOrWhiteSpace(Model.FundSelector.Fund.FundSize) || Sitecore.Context.PageMode.IsExperienceEditor)
                            {
                                @Html.Glass().Editable(Model.FundSelector.Fund, m => m.FundSize)
                            }
                            else
                            {
                                @Model.FundValues.FundSize
                            }
                        </span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="fund-stats__item">
                        <span class="fund-stats__title">@Html.Glass().Editable(Model.FundSelector, m => m.NumberOfHoldingsLabel)</span>
                        <span class="fund-stats__value">
                            @if (!string.IsNullOrWhiteSpace(Model.FundSelector.Fund.NumberOfHoldings) || Sitecore.Context.PageMode.IsExperienceEditor)
                            {
                                @Html.Glass().Editable(Model.FundSelector.Fund, m => m.NumberOfHoldings)
                            }
                            else
                            {
                                @Model.FundValues.Holdings
                            }
                        </span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="fund-stats__item">
                        <span class="fund-stats__title">@Html.Glass().Editable(Model.FundSelector, m => m.ManagedByCurrentTeamForLabel)</span>
                        <span class="fund-stats__value">
                            @Model.ManagedLength
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <div style="background-color:black">
        <span style="color:white">Add datasource for Four Fund Stats Component</span>
    </div>
}