@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.Fund.Models.IFourFundStatsManual
@if (Model != null)
{
<section class="container">
    <div class="text-center">
        <h2 class="text-black">@Html.Glass().Editable(Model, m => m.Heading)</h2>
    </div>
    <div class="fund-stats">
        <div class="row">
            <div class="col-lg-3">
                <div class="fund-stats__item">
                    <span class="fund-stats__title">@Html.Glass().Editable(Model, m => m.FirstTitle)</span>
                    <span class="fund-stats__value">@Html.Glass().Editable(Model, m => m.FirstValue)</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="fund-stats__item">
                    <span class="fund-stats__title">@Html.Glass().Editable(Model, m => m.SecondTitle)</span>
                    <span class="fund-stats__value">@Html.Glass().Editable(Model, m => m.SecondValue)</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="fund-stats__item">
                    <span class="fund-stats__title">@Html.Glass().Editable(Model, m => m.ThirdTitle)</span>
                    <span class="fund-stats__value">@Html.Glass().Editable(Model, m => m.ThirdValue)</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="fund-stats__item">
                    <span class="fund-stats__title">@Html.Glass().Editable(Model, m => m.FourthTitle)</span>
                    <span class="fund-stats__value">@Html.Glass().Editable(Model, m => m.FourthValue)</span>
                </div>
            </div>
        </div>
    </div>
</section>
}
else if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <div style="background-color:black">
        <span style="color:white">Add datasource for Four Fund Stats Component</span>
    </div>
}