@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.Fund.Models.IFundOverview
@if (Model == null && !Sitecore.Context.PageMode.IsExperienceEditor)
{
    return;
}
@if (Model.Fund == null && Sitecore.Context.PageMode.IsExperienceEditor)
{
    <div style="background-color:white"><span style="color:black">Please configure a fund on the component</span></div>
    return;
}

@if (Model.Fund != null)
{
    <div class="fund-overview @(Model.Alignment != null ? Model.Alignment.Value : string.Empty)">
        <h2 class="h2">
            @Html.Glass().Editable(Model.Fund, m => m.OverviewTitle)
        </h2>
        <div class="fund-overview__text">
            <p class="font-500 text-margin">
                @Html.Glass().Editable(Model.Fund, m => m.OverviewText)
            </p>
        </div>
        <div>           
            @if (Sitecore.Context.PageMode.IsExperienceEditor)
            {
                using (Html.Glass().BeginRenderLink(Model, m => m.LatestUpdateCTA, new { @class = "btn btn-primary-forward mr-1 mr-md-4" }, isEditable: true))
                {
                    if (Model.LatestUpdateCTA != null)
                    {
                        @Model.LatestUpdateCTA.Text
                    }
                    <i class="icon-arrow-right animate-arrow"></i>
                }
            }
            else
            {
                var fundUpdateUrl = Model.LatestUpdateCTA != null ? Model.LatestUpdateCTA.Url + "?ids=" + Model.Fund.Id.ToString("N") : string.Empty;
                <a href="@fundUpdateUrl" class="btn btn-primary-forward mr-1 mr-md-4">
                    @Model.LatestUpdateCTA.Text <i class="icon-arrow-right animate-arrow"></i>
                </a>
            }

            <a href="#" class="link-styles view-fund-literature">
                @Html.Glass().Editable(Model, m => m.DownloadCTALabel) <i class="icon-file d-none d-lg-inline-block"></i>
            </a>
        </div>
    </div>
}