@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.Fund.FundManagerPromo.FundManagerViewModel
@if (Model == null && Sitecore.Context.PageMode.IsExperienceEditor)
{
    <div style="background-color:white">
        <span style="color:black">Please configure a fund manager</span>
    </div>    
    return;
}
<div class="article-with-small">
    <div class="fund-manager mt-5">
        <div class="fund-manager__item d-block">
            <div class="row">
                <div class="col-4">
                    <img src="@Model.ImageUrl"
                            alt="@Model.FullName"
                            class="fund-manager__img" />
                </div>
                <div class="col-8">
                    <div class="fund-manager__content">
                        <div class="fund-manager__title d-flex align-items-end">
                            @Model.FullName
                        </div>
                        @if (!string.IsNullOrEmpty(Model.Title))
                        {
                            <span class="fund-manager__text font-500 d-none d-xl-block">
                                @Html.Raw(Model.Title)
                            </span>
                        }
                        <span class="fund-manager__text">
                            @Html.Raw(Model.Bio)
                        </span>
                        <div class="mt-2">
                            <a href="@Model.Url" class="link-styles">
                                View profile
                                <i class="icon-arrow-right"></i>
                            </a>
                            <a href="#"
                                class="link-styles text-black ml-4 d-none d-xl-inline">
                                Follow @Model.FirstName
                                <i class="icon-follow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

