@using Glass.Mapper.Sc.Web.Mvc
@using LionTrust.Foundation.Analytics.Goals
@model LionTrust.Feature.Fund.Models.IFundScroller
<div class="fundscroller">
    <div class="container-left-gutter">
        <div class="row">
            <div class="fundscroller__box">
                <div class="fundscroller__left">
                    <div class="imagepromo__content">
                        <div class="imagepromo__headbox">
                            <h2>@Html.Glass().Editable(m => m.Heading)</h2>
                        </div>
                        <div class="imagepromo__contentbox txtlimit tenline">
                            <p class="font-500">
                                @Html.Glass().Editable(m => m.Subtitle)
                            </p>
                            <p>
                                @Html.Glass().Editable(m => m.Description)
                            </p>
                        </div>
                        @Html.Glass().Editable(Model, m => m.PrimaryCta, m => Extensions.GenerateLink(m.PrimaryCta, m.PrimaryCtaGoalId, "<i class='icon-arrow-right imagepromo__arrow animate-arrow'></i>", "btn btn-primary imagepromo__btn"), new { @class = "btn btn-primary imagepromo__btn" })
                        @Html.Glass().Editable(Model, m => m.SecondaryCta, m => Extensions.GenerateLink(m.SecondaryCta, m.SecondaryCtaGoalId, "<i class='icon-arrow-right imagepromo__arrow animate-arrow'></i>", "btn btn-primary-forward imagepromo__btn"), new { @class = "btn btn-primary-forward imagepromo__btn" })
                        <div class="imagepromo__btnbox">
                            @using (Html.BeginRenderLinkWithGoal(Model, m => m.PrimaryCta, Model.PrimaryCtaGoalId, new System.Collections.Specialized.NameValueCollection { { "class", "btn btn-primary imagepromo__btn" } }, isEditable: true))
                            {
                                if (Model.PrimaryCta != null)
                                {
                                    @Model.PrimaryCta.Text
                                }
                                else if (Sitecore.Context.PageMode.IsExperienceEditor)
                                {
                                    @: Edit primary link
                                }
                                <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>
                            }

                            @using (Html.BeginRenderLinkWithGoal(Model, m => m.SecondaryCta, Model.SecondaryCtaGoalId, new System.Collections.Specialized.NameValueCollection { { "class", "btn btn-primary-forward imagepromo__btn" } }, isEditable: true))
                            {
                                if (Model.SecondaryCta != null)
                                {
                                    @Model.SecondaryCta.Text
                                }
                                else if (Sitecore.Context.PageMode.IsExperienceEditor)
                                {
                                    @: Edit secondary link
                                }
                                <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>
                            }
                        </div>
                    </div>
                </div>

                <div class="fundscroller__right">
                    <!-- Swiper -->
                    <div class="swiper-container-funds">
                        <div class="swiper-wrapper">
                            @foreach (var item in Model.Funds)
                            {                               
                                <span>TODO</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
