@model LionTrust.Feature.Fund.Models.KeyInfoPriceViewModel
@if (Model != null && Model.Component != null && Model.KeyInfoPrice != null)
{
<div class="card">
    <div class="card__content">
        <span class="card__title">
            @Html.Glass().Editable(Model.Component, m => m.KeyInformationLabel)
        </span>
        <div class="card__row">
            <div class="card__item-left">@Html.Glass().Editable(Model.Component, m => m.ClassLaunchDateLabel)</div>
            <div class="card__item-right"> 29.05.18</div>
        </div>
        <div class="card__row">
            <div class="card__item-left">@Html.Glass().Editable(Model.Component, m => m.ComparatorLabel)</div>
            <div class="card__item-right"> Markit iBoxx Euro Corporates</div>
        </div>
        <div class="card__row">
            <div class="card__item-left">@Html.Glass().Editable(Model.Component, m => m.Benchmark1Label)</div>
            <div class="card__item-right"> Index</div>
        </div>
        <div class="card__row">
            <div class="card__item-left">@Html.Glass().Editable(Model.Component, m => m.FundSizeLabel)</div>
            <div class="card__item-right">€32.2m</div>
        </div>
        <div class="card__row">
            <div class="card__item-left">@Html.Glass().Editable(Model.Component, m => m.NumberofHoldingsLabel)</div>
            <div class="card__item-right">55</div>
        </div>
        <div class="card__row">
            <div class="card__item-left">@Html.Glass().Editable(Model.Component, m => m.NetUnderlyingYieldLabel)</div>
            <div class="card__item-right">-0.43%</div>
        </div>
        <div class="card__row">
            <div class="card__item-left">@Html.Glass().Editable(Model.Component, m => m.DurationLabel)</div>
            <div class="card__item-right">2.68</div>
        </div>
    </div>
    <div class="card__content">
        <span class="card__title">
            @Html.Glass().Editable(Model.Component, m => m.PriceLabel)
        </span>
        <div class="card__row">
            <div class="card__item-left">@Html.Glass().Editable(Model.Component, m => m.SinglePriceLabel)</div>
            <div class="card__item-right">£23m</div>
        </div>
        <div class="card__row">
            <div class="card__item-left">@Html.Glass().Editable(Model.Component, m => m.OfferPriceLabel)</div>
            <div class="card__item-right">£20m</div>
        </div>
        <div class="card__row">
            <div class="card__item-left">
                @Html.Glass().Editable(Model.Component, m => m.PriceDateLabel)
                @if (Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    @Html.Glass().Editable(Model.Component, m => m.PriceDateTooltipLabel)
                }
                else
                {
                <span class="d-inline-flex" data-toggle="tooltip" data-placement="right"
                      title="@Model.Component.PriceDateTooltipLabel">
                    <i class="icon-follow text-gold"></i>
                </span>
                }
            </div>
            <div class="card__item-right">22.01.2017</div>
        </div>
    </div>
</div>
}
else if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    @: Please add datasource to Key Info and Price component
}