@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.Fund.Models.KeyInfoPriceViewModel
@if (Model != null && Model.Component != null && Model.Component.FundClass != null)
{
    <div class="card">
        <div class="card__content">
            <span class="card__title">
                @Html.Glass().Editable(Model.Component, m => m.KeyInformationLabel)
            </span>
            <div class="card__row">
                <div class="card__item-left">@Html.Glass().Editable(Model.Component, m => m.ClassLaunchDateLabel)</div>
                <div class="card__item-right">
                    @if (Sitecore.Context.PageMode.IsExperienceEditor)
                    {
                        using (Html.Glass().BeginEditFrame("/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Feature/Fund/KeyInfoPrice", Model.Component.FundClass.Id.ToString(), "Edit Key Info Price dates"))
                        {
                            if (Model.Component.FundClass.ClassLaunchDate != null)
                            {
                                @Model.Component.FundClass.ClassLaunchDate.ToString("dd.MM.y")
                            }
                            else
                            {
                                @:Edit Key Info Price Dates
                            }
                        }
                    }
                    else
                    {
                        @Model.Component.FundClass.ClassLaunchDate.ToString("dd.MM.y")
                    }
                </div>
            </div>
            <div class="card__row">
                <div class="card__item-left">@Html.Glass().Editable(Model.Component, m => m.ComparatorLabel)</div>
                <div class="card__item-right">@Html.Glass().Editable(Model.Component.FundClass, m => m.Comparator)</div>
            </div>
            <div class="card__row">
                <div class="card__item-left">@Html.Glass().Editable(Model.Component, m => m.Benchmark1Label)</div>
                <div class="card__item-right">@Html.Glass().Editable(Model.Fund, m => m.BenchmarkName)</div>
            </div>
            <div class="card__row">
                <div class="card__item-left">@Html.Glass().Editable(Model.Component, m => m.FundSizeLabel)</div>
                <div class="card__item-right">@Html.Glass().Editable(Model.Fund, m => m.FundSize)</div>
            </div>
            <div class="card__row">
                <div class="card__item-left">@Html.Glass().Editable(Model.Component, m => m.NumberofHoldingsLabel)</div>
                <div class="card__item-right">@Html.Glass().Editable(Model.Fund, m => m.NumberOfHoldings)</div>
            </div>
            <div class="card__row">
                <div class="card__item-left">@Html.Glass().Editable(Model.Component, m => m.NetUnderlyingYieldLabel)</div>
                <div class="card__item-right">@Html.Glass().Editable(Model.Fund, m => m.HistoricYield)</div>
            </div>
            <div class="card__row">
                <div class="card__item-left">@Html.Glass().Editable(Model.Component, m => m.DurationLabel)</div>
                <div class="card__item-right">@Html.Glass().Editable(Model.Component.FundClass, m => m.Duration)</div>
            </div>
        </div>
        <div class="card__content">
            <span class="card__title">
                @Html.Glass().Editable(Model.Component, m => m.PriceLabel)
            </span>
            <div class="card__row">
                <div class="card__item-left">@Html.Glass().Editable(Model.Component, m => m.SinglePriceLabel)</div>
                <div class="card__item-right">@Html.Glass().Editable(Model.Component.FundClass, m => m.SinglePrice)</div>
            </div>
            <div class="card__row">
                <div class="card__item-left">@Html.Glass().Editable(Model.Component, m => m.OfferPriceLabel)</div>
                <div class="card__item-right">@Html.Glass().Editable(Model.Component.FundClass, m => m.OfferPrice)</div>
            </div>
            <div class="card__row">
                <div class="card__item-left">
                    @Html.Glass().Editable(Model.Component, m => m.PriceDateLabel)
                    @if (Sitecore.Context.PageMode.IsExperienceEditor)
                    {
                        @Html.Glass().Editable(Model.Component, m => m.PriceDateTooltipLabel)
                    }
                    else
                    {
                        <span class="d-inline-flex" data-toggle="tooltip" data-placement="right"
                              title="@Model.Component.PriceDateTooltipLabel">
                            <i class="icon-follow text-gold"></i>
                        </span>
                    }
                </div>
                <div class="card__item-right">
                    @if (Sitecore.Context.PageMode.IsExperienceEditor)
                    {
                        using (Html.Glass().BeginEditFrame("/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Feature/Fund/KeyInfoPrice", Model.Component.FundClass.Id.ToString(), "Edit Key Info Price dates"))
                        {
                            if (Model.Component.FundClass.PriceDate != null)
                            {
                                @Model.Component.FundClass.PriceDate.ToString("dd.MM.yyyy")
                            }
                            else
                            {
                                @:Edit Key Info Price Dates
                            }
                        }
                    }
                    else
                    {
                        @Model.Component.FundClass.PriceDate.ToString("dd.MM.yyyy")
                    }
                </div>


            </div>


        </div>
    </div>
}
else if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <div style="background-color:white"><span style="color:black">Please add datasource to Key Info and Price component</span></div>
}