@using Glass.Mapper.Sc.Web.Mvc
@using LionTrust.Feature.Fund.Models

@model LionTrust.Feature.Fund.Models.KeyInfoPriceViewModel
@if (Model != null && Model.Component != null && Model.ClassData != null)
{
    <div class="card">
        <div class="card__content">
            <span class="card__title">
                @Html.Glass().Editable(Model.Component, m => m.KeyInformationLabel)
            </span>
            @Html.Partial("~/Views/Fund/_FundInfoRow.cshtml",
                new FundInfoRowViewModel()
                {
                    LabelValue = Html.Glass().Editable(Model.Component, m => m.ManagerInceptionDateLabel),
                    FieldValue = Model.ClassData.ManagerInceptionDateFormatted,
                    TooltipValue = Model.Component.Tooltips != null ? Model.Component.Tooltips.ManagerInceptionDateTooltip : string.Empty
                })
            @Html.Partial("~/Views/Fund/_FundInfoRow.cshtml",
                new FundInfoRowViewModel()
                {
                    LabelValue = Html.Glass().Editable(Model.Component, m => m.ClassLaunchDateLabel),
                    FieldValue = Model.ClassData.ClassLaunchDateFormatted,
                    TooltipValue = Model.Component.Tooltips != null ? Model.Component.Tooltips.ClassLaunchDateTooltip : string.Empty
                })

            @if ((!string.IsNullOrWhiteSpace(Model.ClassData.Comparator1) && !string.IsNullOrWhiteSpace(Model.Component.Comparator1Label)) || Sitecore.Context.PageMode.IsExperienceEditor)
            {
                @Html.Partial("~/Views/Fund/_FundInfoRow.cshtml",
                    new FundInfoRowViewModel()
                    {
                        LabelValue = Html.Glass().Editable(Model.Component, m => m.Comparator1Label),
                        FieldValue = Model.ClassData.Comparator1,
                        TooltipValue = Model.Component.Tooltips != null ? Model.Component.Tooltips.Comparator1Tooltip : string.Empty
                    })
            }
            @if ((!string.IsNullOrWhiteSpace(Model.ClassData.Comparator2) && !string.IsNullOrWhiteSpace(Model.Component.Comparator2Label)) || Sitecore.Context.PageMode.IsExperienceEditor)
            {
                @Html.Partial("~/Views/Fund/_FundInfoRow.cshtml",
                    new FundInfoRowViewModel()
                    {
                        LabelValue = Html.Glass().Editable(Model.Component, m => m.Comparator2Label),
                        FieldValue = Model.ClassData.Comparator2,
                        TooltipValue = Model.Component.Tooltips != null ? Model.Component.Tooltips.Comparator2Tooltip : string.Empty
                    })
            }
            @if (!string.IsNullOrWhiteSpace(Model.ClassData.TargetBenchmarkYield) || Sitecore.Context.PageMode.IsExperienceEditor)
            {
                @Html.Partial("~/Views/Fund/_FundInfoRow.cshtml",
                    new FundInfoRowViewModel()
                    {
                        LabelValue = Html.Glass().Editable(Model.Component, m => m.TargetBenchmarkYieldLabel),
                        FieldValue = Model.ClassData.TargetBenchmarkYield,
                        TooltipValue = Model.Component.Tooltips != null ? Model.Component.Tooltips.TargetBenchmarkYieldTooltip : string.Empty
                    })
            }
        </div>
        <div class="card__content">
            <span class="card__title">
                @Html.Glass().Editable(Model.Component, m => m.PriceLabel)
            </span>
            @Html.Partial("~/Views/Fund/_FundInfoRow.cshtml",
                new FundInfoRowViewModel()
                {
                    LabelValue = Html.Glass().Editable(Model.Component, m => m.SinglePriceLabel),
                    FieldValue = Model.ClassData.SinglePrice,
                    TooltipValue = Model.Component.Tooltips != null ? Model.Component.Tooltips.SinglePriceTooltip : string.Empty
                })
            @if (!string.IsNullOrWhiteSpace(Model.ClassData.OfferPrice) || Sitecore.Context.PageMode.IsExperienceEditor)
            {
                @Html.Partial("~/Views/Fund/_FundInfoRow.cshtml",
                    new FundInfoRowViewModel()
                    {
                        LabelValue = Html.Glass().Editable(Model.Component, m => m.OfferPriceLabel),
                        FieldValue = Model.ClassData.OfferPrice,
                        TooltipValue = Model.Component.Tooltips != null ? Model.Component.Tooltips.OfferPriceTooltip : string.Empty
                    })
            }
            @Html.Partial("~/Views/Fund/_FundInfoRow.cshtml",
                 new FundInfoRowViewModel()
                 {
                     LabelValue = Html.Glass().Editable(Model.Component, m => m.PriceDateLabel),
                     FieldValue = Model.ClassData.PriceDateFormatted,
                     TooltipValue = Model.Component.Tooltips != null ? Model.Component.Tooltips.PriceDateTooltip : string.Empty
                 })

        </div>
    </div>
}
else if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <div style="background-color:white"><span style="color:black">Please add datasource to Key Info and Price component</span></div>
}