@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.Fund.PerformanceTables.PerformanceTableViewModel
@if (Model == null && !Sitecore.Context.PageMode.IsExperienceEditor)
{
    return;
}
@if (Model != null && Model.Hide)
{
    return;
}
<section class="container table-section">
    <h3 class="table-section__title">@Html.Glass().Editable(Model.Component, c => c.Heading)</h3>
    <div class="table-responsive-md">
        <table class="table table-responcive-md">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">@Html.Glass().Editable(Model.Component, m => m.HeadingLabel)</th>
                    @foreach (var item in Model.ColumnHeadings)
                    {
                        <th scope="col">@item</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Rows.Length; i++)
                {
                    var className = i == 0 ? "primary-row" : string.Empty;
                    <tr class="@className">
                        <th scope="row">@Model.Rows[i].Name</th>
                        @foreach (var item in Model.Rows[i].Columns)
                        {
                            if (item != null)
                            {
                                <td>@item.Value.ToString("#0.0")</td>
                            }
                            else
                            {
                                <td>-</td>
                            }
                        }
                    </tr>
                }
            </tbody>
            @if (Model.QuartileRow != null && Model.QuartileRow.Columns.Any() && Model.Rows.Count() > 0)
            {
                var counter = 0;
                var referenceRow = Model.Rows[0].Columns;
                var referenceRowCounter = referenceRow != null ? referenceRow.Length : 0;
                <tfoot>
                    <tr>
                        <td scope="row">@Html.Glass().Editable(Model.Component, m => m.QuartileRowLabel)</td>
                        @foreach (var item in Model.QuartileRow.Columns)
                        {
                            if (item != null && counter < referenceRowCounter && referenceRow[counter] != null)
                            {
                                <td>@item</td>
                            }
                            else
                            {
                                <td>-</td>
                            }
                            counter++;
                        }
                    </tr>
                </tfoot>
            }
            @if (!string.IsNullOrEmpty(Model.Disclaimer))
            {
                <caption>
                    <p class="graph-section__sub">@Html.Glass().Editable(Model, t => t.Disclaimer)</p>
                </caption>
            }
        </table>
    </div>
</section>

