@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.Fund.SectorBreakdown.SectorBreakdownViewModel
@if ((Model == null || Model.Component == null) && !Sitecore.Context.PageMode.IsExperienceEditor)
{
    return;
}
<div class="col-lg-6">
    <div class="table-section">
        <h3 class="table-section__title">@Html.Glass().Editable(Model.Component, t => t.Heading)</h3>
        @if (Model.Breakdown != null)
        {
            <div class="table-responsive">
                <table class="table table-full-border table-horizontal-chart">
                    <tbody>
                        @foreach (var item in Model.Breakdown)
                        {
                            <tr>
                                <th scope="row">@item.Name</th>
                                <td>@item.FormattedWeight</td>
                                <td>
                                    <span class="percents" style="width: @item.Weight;"></span>
                                </td>
                            </tr>
                        }
                    </tbody>
                    @if (!string.IsNullOrEmpty(Model.Component.Information) || Sitecore.Context.PageMode.IsExperienceEditor)
                    {
                        <caption>
                            <p class="graph-section__sub">@Html.Glass().Editable(t => t.Component.Information)</p>
                        </caption>
                    }
                </table>
            </div>
        }
        else if (Sitecore.Context.PageMode.IsExperienceEditor)
        {
            <div style="background-color:white">
                <span style="color:black">
                    Please select a fund
                </span>
            </div>
        }        
    </div>
</div>

