@using Glass.Mapper.Sc.Web.Mvc
@using System.Collections.Specialized;
@using LionTrust.Foundation.ORM.Extensions
@model LionTrust.Feature.Article.Models.IArticlePromo
@if (Model != null)
{
    <div class="article-promo">
        <a href="@Model.Url" class="article-promo__front">
        </a>
        <a href="@Model.Url" class="article-promo__body">
            @using (Html.Glass().BeginEditFrame("/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Feature/Article/Article Scroller", Model.Id.ToString(), "Edit Article"))
            {
                <div class="article-promo__head">
                    @if (Model.Authors != null && Model.Authors.Any())
                    {
                        if (Model.Authors.Count() > 1)
                        {
                            @Html.Glass().RenderImage(Model, m => m.MultipleAuthorsIcon, new NameValueCollection { { "class", "article-promo__head-img" } }, isEditable: true)
                            <span class="article-promo__head-title">@Html.Glass().Editable(Model, m => m.MultipleAuthorsLabel)</span>
                        }
                        else
                        {
                            var author = Model.Authors.FirstOrDefault();
                            @Html.Glass().RenderImage(author, m => m.Image, new NameValueCollection { { "class", "article-promo__head-img" } }, isEditable: true)
                            <span class="article-promo__head-title">@Html.Glass().Editable(author, m => m.FullName)</span>
                        }
                    }
                </div>
                <span class="article-promo__title">
                    @Html.Glass().Editable(Model, m => m.Title)
                </span>
                <div class="article-promo__play-video">
                    @Sitecore.Globalization.Translate.Text("WatchNowLabel")
                    <img class="article-promo__video-btn" src="dist\images\components\common\play-btn.svg" alt="play video">
                </div>
            }
            </a>
        <div class="article-promo__footer">
            <div class="article-promo__footer-item">
                <img class="article-promo__clock" src="dist\images\components\svg-icons\clock.svg" alt="icon">
                <span class="article-promo__footer-text">
                    @using (Html.Glass().BeginEditFrame(Model, "Edit Article Date", x => x.Date))
                    {
                        if (Model.Date != DateTime.MinValue || Sitecore.Context.PageMode.IsExperienceEditor)
                        {
                            @Model.Date.ToString("d MMMM yyyy")
                        }
                        else
                        {
                            @Model.PublishedDate.ToString("d MMMM yyyy")
                        }
                    }
                </span>
            </div>
        </div>
        @if ((Model.Image != null && !string.IsNullOrEmpty(Model.Image.Src)) || Sitecore.Context.PageMode.IsExperienceEditor)
        {
            @Html.Glass().RenderImage(Model, m => m.Image, new NameValueCollection { { "class", "article-promo__back" } }, isEditable: true)
        }
        else
        {
            @Html.Glass().RenderImage(Model, m => m.HeaderImage, new NameValueCollection { { "class", "article-promo__back" } }, isEditable: true)
        }
    </div>
}
else if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    @: Please assign datasource for Video Promo component
}