@using Sitecore.Links
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Web
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@Html.Sitecore().Field("BrowserTitle", new { DisableWebEdit = true })</title>
    @Html.Sitecore().VisitorIdentification()
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/styles.min.css">
</head>
<body>
    @Html.Sitecore().Placeholder("header")
    <div class="mask"></div>
    <main id="main" role="main">
        @Html.Sitecore().Placeholder("main")
    </main>
    @Html.Sitecore().Placeholder("footer")
    <script src="js/script.js"></script>
    <script src="js/search-page.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</body>
</html>