@using System.Collections.Specialized
@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.Listings.Models.IDirectorsList
<section class="container">
    <h2 class="h2 mb-4 pt-3">@Html.Glass().Editable(Model, m => m.Title)</h2>
    <div class="row">
        @if (Model.DirectorsList != null && Model.DirectorsList.Any())
        {
            foreach (var director in Model.DirectorsList)
            {
                using (Html.Glass().BeginEditFrame("/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Feature/Listings/DirectorsList", director.Id.ToString(), "Edit director"))
                {
                    <div class="col-lg-6">
                        <div class="fund-manager fund-manager-director director-card">
                            <div class="fund-manager__item director-card__columns">
                                <div class="director-card__img-col">
                                    @Html.Glass().RenderImage(director, d => d.Image, new NameValueCollection { { "class", "fund-manager__img" } }, isEditable: true)                                    
                                </div>
                                <div class="director-card__details-col">
                                    <div class="director-card__details-title">
                                        @Html.Glass().Editable(director, d => d.FullName)
                                    </div>
                                    <p class="director-card__sub-title">
                                        @Html.Glass().Editable(director, d => d.Role)
                                    </p>
                                    <div class="director-card__description">
                                        @Html.Glass().Editable(director, d => d.ShortBio)
                                    </div>
                                    <div class="director-card__info">
                                        @if (!string.IsNullOrEmpty(director.Email) || Sitecore.Context.PageMode.IsExperienceEditorEditing)
                                        {
                                            <span class="director-card__info-label">@Html.Glass().Editable(director, d => d.EmailLabel)</span>
                                            @Html.Glass().Editable(director, d => d.Email)<br />
                                        }
                                        @if (!string.IsNullOrEmpty(director.DirectLine) || Sitecore.Context.PageMode.IsExperienceEditorEditing)
                                        {
                                            <span class="director-card__info-label">@Html.Glass().Editable(director, d => d.DirectLineLabel)</span>
                                            @Html.Glass().Editable(director, d => d.DirectLine)<br />
                                        }
                                        @if (!string.IsNullOrEmpty(director.MobileNumber) || Sitecore.Context.PageMode.IsExperienceEditorEditing)
                                        {
                                            <span class="director-card__info-label">@Html.Glass().Editable(director, d => d.MobileLabel)</span>
                                            @Html.Glass().Editable(director, d => d.MobileNumber)<br />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                }
            }
        }
    </div>
</section>