@using Glass.Mapper.Sc.Web.Mvc
@using LionTrust.Feature.Search.Models
@using LionTrust.Foundation.ORM.Extensions
@using Sitecore.Configuration
@model LionTrust.Feature.Search.Models.IArticleLister
@if (Model != null)
{
    <div id="lister-app" data-host="@(Settings.GetSetting(LionTrust.Feature.Search.Constants.Settings.ArticleApiRoute_SettingName))" data-contenttype="@Model.ContentType">
        <div class="article-filter-wrapper">
            <div class="article-filters" :class="mobileFilter ? 'active' : ''">
                <div class="article-filters__header">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2 d-lg-none">
                                <div class="article-filters__main-title">
                                    @Model.FiltersLabel
                                    <i id="filters-close" @@click="toggleMobileFilter" class="icon-close"></i>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <form class="search-form" @@submit.prevent="submitSearchForm($event)">
                                    <input type="text" v-model="searchText" name="searchText" class="search-form__input color-black"
                                           placeholder="@Model.SearchPlaceholder">
                                    <button class="search-form__submit pe-0" type="submit">
                                        <i class="icon-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="article-filters__body">
                    <div class="container">
                        <div class="row">
                            <select-field inline-template v-for="(facet, i) in getFacets" :key="i">
                                <div class="col-lg-2 relative" @@click.stop style="display: none;" :style="init ? 'display: block' : ''">
                                    <div class="article-filters__select" @@click="toggleOption" :class="open ? 'active' : ''">
                                        <span class="article-filters__item-title" :class="active ? 'active' : ''">
                                            {{facet.name}}
                                        </span>
                                        <i class="article-filters__icon-arrow"></i>
                                    </div>
                                    <div class="article-filters__options">
                                        <div class="article-filters__title" @@click="toggleOption">
                                            <i class="icon-chevron-left"></i>
                                            @Model.FundLabel
                                        </div>
                                        <option-field inline-template v-for="(item, i) in facet.items" :for="item.name" :key="i + item.name">
                                            <label class="option-checkbox">
                                                <input :id="item.name" class="option-checkbox__input" type="checkbox" v-model="checked" @@change="toggleSelect(item, facet)" @@click="setChoosen(!checked)">
                                                <span class="option-checkbox__text">{{item.name}}</span>
                                                <span class="option-checkbox__icon"></span>
                                            </label>
                                        </option-field>
                                    </div>
                                </div>
                            </select-field>
                            <div class="col-lg-1 relative" v-if="months.length">
                                <select class="article-filters__select-custom" @@change="setMonth($event)">
                                    <option value="0" disabled selected>@Model.MonthLabel</option>
                                    <option v-for="(month, i) in months" :key="i" :value="i + 1">{{month}}</option>
                                </select>
                                <i class="article-filters__icon-arrow article-filters__icon-arrow_select"></i>
                            </div>
                            <div class="col-lg-1 relative" v-if="years.length">
                                <select class="article-filters__select-custom" @@change="setYear($event)">
                                    <option value="0" disabled selected>@Model.YearLabel</option>
                                    <option v-for="(year, i) in years" :key="i" :value="year">{{year}}</option>
                                </select>
                                <i class="article-filters__icon-arrow article-filters__icon-arrow_select"></i>
                            </div>
                            <div class="col-lg-2">
                                <div class="article-filters__btns">
                                    <button class="btn article-filters__btn article-filters__btn_apply" @@click="applyFilters">
                                        @Model.FilterLabel
                                    </button>
                                    <button class="clear-filter btn article-filters__btn article-filters__btn_clear" @@click="clearFilters">
                                        @Model.ClearFiltersLabel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="article-filters__footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-primary min-width-100" @@click="applyFilters">
                                    @Model.ApplyFiltersLabel
                                </button>
                            </div>
                            <div class="col-6">
                                <button class="clear-filter btn btn-primary-forward min-width-100" @@click="clearFilters">
                                    @Model.ClearFiltersLabel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6 col-lg-2 offset-6 col-md-4 offset-md-8 offset-lg-10 margin-sort-btn">
                        <div class="relative">
                            <button class="btn btn-clean d-block ml-auto button-sort" @@click.stop="showSort">
                                @Model.SortLabel <i class="icon-sort"></i>
                            </button>
                            <div class="sort-dropdown" :class="sortModal ? 'active' : ''">
                                <div class="text-right">
                                    <span class="btn btn-clean">
                                        @Model.SortLabel <i class="icon-sort"></i>
                                    </span>
                                </div>
                                <label for="newest" class="option-checkbox">
                                    <input id="newest" v-model="sortOrder" value="ASC" class="option-checkbox__input" type="radio" name="sort" checked>
                                    <span class="option-checkbox__text">@Model.DateNewestFirstLabel</span>
                                    <span class="option-checkbox__icon"></span>
                                </label>
                                <label for="oldest" class="option-checkbox">
                                    <input id="oldest" v-model="sortOrder" value="DESC" class="option-checkbox__input" type="radio" name="sort">
                                    <span class="option-checkbox__text">@Model.DateOldestFirstLabel</span>
                                    <span class="option-checkbox__icon"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-lg-none">
            <div class="d-flex justify-content-between margin-mob-fliter-btn" :class="!mobileFilter ? 'relative' : ''">
                <btn id="show-article-fliter" class="btn btn-clean" @@click="toggleMobileFilter">
                    <i class="icon-filter"></i> @Model.FilterLabel
                </btn>
            </div>
        </div>

        <section class="container">
            <div class="text-center my-5" :style="!loading ? 'display: none' : ''">
                <div class="spinner-border text-gold" role="status"></div>
            </div>

            <div class="row">
                <article-item inline-template v-for="(article, i) in searchData" :key="i + article.title">
                    <div class="col-md-6 col-lg-4">
                        <div class="article-promo" v-if="article.category === 'Podcast'">
                            <a :href="article.url" class="article-promo__front">
                            </a>
                            <a :href="article.url" class="article-promo__body">
                                <div class="article-promo__head">
                                    <i class="icon-mic text-primary"></i>
                                    <span class="article-promo__head-title" v-if="article.podcast.heading">{{article.podcast.heading}}</span>
                                </div>
                                <span class="article-promo__title text-gold">
                                    {{article.title}}
                                </span>
                                <span class="article-promo__desc">
                                    {{article.content}}
                                </span>
                            </a>
                            <div class="article-promo__footer">
                                <div class="article-promo__footer-item" v-if="article.podcast">
                                    <span class="article-promo__footer-text">{{article.podcast.podcastsLabel}}</span>
                                    <a v-for="(link, i) in article.podcast.podcastLinks"
                                       v-if="!!article.podcast.podcastLinks"
                                       :href="link.podcastLinkUrl">
                                        <img :src="link.podcastLinkIcon"
                                             class="image-icon"
                                             alt="apple-podcast" />
                                    </a>
                                </div>
                            </div>
                            <img class="article-promo__back"
                                 :src="article.imageUrl" :alt="article.title" :style="{opacity: article.imageOpacity}">
                        </div>
                        <div class="article-promo" v-else-if="article.category === 'Video'">
                            <a :href="article.url" class="article-promo__front">
                            </a>
                            <a :href="article.url" class="article-promo__body">
                                <div class="article-promo__head">
                                    <img v-if="article.authorImageUrl" class="article-promo__head-img" :src="article.authorImageUrl" :alt="article.title">
                                    <span v-if="article.authors" class="article-promo__head-title text-gold">
                                        <span v-for="author in article.authors" :key="author">{{author}}</span>
                                    </span>
                                </div>
                                <span class="article-promo__title">
                                    {{article.title}}
                                </span>
                                <div class="article-promo__play-video">
                                    @Html.Glass().Editable(Model, m => m.WhatcNowLabel)
                                    <img class="article-promo__video-btn" src="@Model.VideoIcon.GetSafeSitecoreImageUrl()" alt="play video">
                                </div>

                            </a>
                            <div class="article-promo__footer">
                                <div class="article-promo__footer-item">
                                    <img class="article-promo__clock" src="@Model.DateIcon.GetSafeSitecoreImageUrl()" alt="icon">
                                    <span class="article-promo__footer-text">{{article.date}}</span>
                                </div>
                                <div class="article-promo__footer-item">
                                    <span class="article-promo__footer-text">{{article.category}}</span>
                                    <i class="icon-booksmark article-promo__bookmark"></i>
                                </div>
                            </div>

                            <img class="article-promo__back"
                                 :src="article.imageUrl" :alt="article.title" :style="{opacity: article.imageOpacity}">

                        </div>
                        <div class="article-promo" v-else-if="article.category === 'Fund manager views'">
                            <a :href="article.url" class="article-promo__front">
                            </a>
                            <a :href="article.url" class="article-promo__body">
                                <div class="article-promo__head">
                                    <img v-if="article.authorImageUrl" class="article-promo__head-img" :src="article.authorImageUrl" :alt="article.title">
                                    <span v-if="article.authors" class="article-promo__head-title text-gold">
                                        <span v-for="(author,i) in article.authors">
                                            {{author}}
                                            <span v-if="article.authors.length > 1 && i < article.authors.length - 1" class="dot-divider"></span>
                                        </span>
                                    </span>
                                </div>
                                <span class="article-promo__title">
                                    {{article.title}}
                                </span>
                                <span class="article-promo__desc">
                                    {{article.subtitle}}
                                </span>
                            </a>
                            <div class="article-promo__footer">
                                <div class="article-promo__footer-item">
                                    <img class="article-promo__clock" src="@Model.DateIcon.GetSafeSitecoreImageUrl()" alt="icon">
                                    <span class="article-promo__footer-text">{{article.date}}</span>
                                </div>
                                <div class="article-promo__footer-item">
                                    <span class="article-promo__footer-text">{{article.category}}</span>
                                    <i class="icon-booksmark article-promo__bookmark"></i>
                                </div>
                            </div>

                            <img class="article-promo__back"
                                 :src="article.imageUrl" :alt="article.title" :style="{opacity: article.imageOpacity}">
                        </div>
                        <div class="article-promo" v-else-if="article.category === 'Magazine & Reports'">
                            <a :href="article.url" class="article-promo__front">
                            </a>
                            <a :href="article.url" class="article-promo__body">
                                <div class="article-promo__head">
                                    <span v-if="article.topics"  class="article-promo__head-title">
                                        <span v-for="(topic, i) in article.topics" :key="topic">
                                            {{topic}}
                                            <span v-if="article.topics.length > 1 && i < article.topics.length - 1" class="dot-divider"></span>
                                        </span>
                                    </span>
                                </div>
                                <span class="article-promo__title text-gold">
                                    {{article.title}}
                                </span>
                                <span class="article-promo__desc">
                                    {{article.subtitle}}
                                </span>
                            </a>
                            <div class="article-promo__footer">
                                <div class="article-promo__footer-item">
                                    <img class="article-promo__clock" src="@Model.DateIcon.GetSafeSitecoreImageUrl()" alt="icon">
                                    <span class="article-promo__footer-text">{{article.date}}</span>
                                </div>
                                <div class="article-promo__footer-item">
                                    <span class="article-promo__footer-text">{{article.category}}</span>
                                    <i class="icon-booksmark article-promo__bookmark"></i>
                                </div>
                            </div>

                            <img class="article-promo__back"
                                 :src="article.imageUrl" :alt="article.title" :style="{opacity: article.imageOpacity}">
                        </div>
                        <div class="article-promo" v-else>
                            <a :href="article.url" class="article-promo__front">
                            </a>
                            <a :href="article.url" class="article-promo__body">
                                <div class="article-promo__head">
                                    <img v-if="article.authorImageUrl" class="article-promo__head-img" :src="article.authorImageUrl" :alt="article.title">
                                    <span v-if="article.subtitle" class="article-promo__head-title text-gold">{{article.subtitle}}</span>
                                </div>
                                <span class="article-promo__title">
                                    {{article.title}}
                                </span>
                                <span class="article-promo__desc">
                                    {{article.subtitle}}
                                </span>
                            </a>
                            <div class="article-promo__footer">
                                <div class="article-promo__footer-item">
                                    <img class="article-promo__clock" src="@Model.DateIcon.GetSafeSitecoreImageUrl()" alt="icon">
                                    <span class="article-promo__footer-text">{{article.date}}</span>
                                </div>
                                <div class="article-promo__footer-item">
                                    <span class="article-promo__footer-text">{{article.category}}</span>
                                    <i class="icon-booksmark article-promo__bookmark"></i>
                                </div>
                            </div>

                            <img class="article-promo__back"
                                 :src="article.imageUrl" :alt="article.title" :style="{opacity: article.imageOpacity}">
                        </div>
                    </div>
                </article-item>
            </div>
            @Html.Partial("~/Views/Search/_Pagination.cshtml", Model)
        </section>
    </div>
}
else if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    @: Assign datasource for Article Lister component
}