@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Configuration
@model LionTrust.Feature.Search.Models.IFundLister

@if (Model != null)
{
    <div class="lister-app" id="lister-app" data-host="@(Settings.GetSetting(LionTrust.Feature.Search.Constants.Settings.FundApiRoute_SettingName))" data-literatureid="@(Model.FundLiterature != null ? Model.FundLiterature.Id.ToString() : string.Empty)">
        <div class="article-filter-wrapper">
            <div class="article-filters" :class="mobileFilter ? 'active' : ''">
                <div class="article-filters__header">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2 d-lg-none">
                                <div class="article-filters__main-title">
                                    @Html.Glass().Editable(Model, m => m.FiltersLabel)
                                    <i id="filters-close" @@click="toggleMobileFilter" class="icon-close"></i>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <form class="search-form" @@submit.prevent="submitSearchForm($event)">
                                    <input type="text" v-model="searchText" name="searchText" class="search-form__input color-black"
                                           placeholder="@Model.SearchPlaceholder">
                                    <button class="search-form__submit pe-0" type="submit">
                                        <i class="icon-search"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="col-lg-9 d-none d-lg-block">
                                <div class="text-right">
                                    <button @@click="grid = false" :class="!grid ? 'active' : ''" class="btn btn-clean view-btn mr-3">
                                        @Html.Glass().Editable(Model, m => m.ViewAsListLabel) <i class="icon-list-view"></i>
                                    </button>
                                    <button @@click="grid = true" :class="grid ? 'active' : ''" class="btn btn-clean view-btn mr-3">
                                        @Html.Glass().Editable(Model, m => m.ViewAsGridLabel) <i class="icon-grid-view"></i>
                                    </button>
                                    @using (Html.Glass().BeginRenderLink(Model, m => m.FundCentreLink, new { @class = "link-styles" }, isEditable: true))
                                    {
                                        if (Model.FundCentreLink != null)
                                        {
                                            @Model.FundCentreLink.Text <i class="icon-tab"></i>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="article-filters__body">
                    <div class="container">
                        <div class="row">
                            <select-field inline-template v-for="(facet, i) in getFacets" :key="i">
                                <div class="col-lg-2 relative" @@click.stop>
                                    <div class="article-filters__select" @@click="toggleOption" :class="open ? 'active' : ''">
                                        <span class="article-filters__item-title" :class="active ? 'active' : ''">
                                            {{facet.name}}
                                        </span>
                                        <i class="article-filters__icon-arrow"></i>
                                    </div>
                                    <div class="article-filters__options">
                                        <div class="article-filters__title" @@click="toggleOption">
                                            <i class="icon-chevron-left"></i>
                                            Fund
                                        </div>
                                        <option-field inline-template v-for="(item, i) in facet.items" :for="item.name">
                                            <label class="option-checkbox">
                                                <input :id="item.name" class="option-checkbox__input" type="checkbox" v-model="checked" @@change="toggleSelect(item, facet)" @@click="setChoosen(!checked)">
                                                <span class="option-checkbox__text">{{item.name}}</span>
                                                <span class="option-checkbox__icon"></span>
                                            </label>
                                        </option-field>
                                    </div>
                                </div>
                            </select-field>
                            <div class="col-lg-2">
                                <div class="article-filters__btns">
                                    <button class="btn article-filters__btn article-filters__btn_apply" @@click="applyFilters">
                                        @Html.Glass().Editable(Model, m => m.ApplyFiltersLabel)
                                    </button>
                                    <button class="clear-filter btn article-filters__btn article-filters__btn_clear" @@click="clearFilters">
                                        @Html.Glass().Editable(Model, m => m.ClearFiltersLabel)
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="article-filters__footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-primary min-width-100" @@click="applyFilters">
                                    @Html.Glass().Editable(Model, m => m.ApplyFiltersLabel)
                                </button>
                            </div>
                            <div class="col-6">
                                <button class="clear-filter btn btn-primary-forward min-width-100" @@click="clearFilters">
                                    @Html.Glass().Editable(Model, m => m.ClearFiltersLabel)
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="hr mb-4"></div>
        </div>
        <div class="view-buttons-container d-lg-none">
            <div class="container">
                <div class="d-flex justify-content-between w-100" :class="!mobileFilter ? 'relative' : ''">
                    <btn id="show-article-fliter" class="btn btn-clean" @@click="toggleMobileFilter">
                        <i class="icon-filter"></i> filter
                    </btn>
                    <div class="view-buttons">
                        @Html.Glass().Editable(Model, m => m.MobileViewLabel)
                        <button @@click="grid = false" :class="!grid ? 'active' : ''" class="btn btn-clean btn-view-mob ml-auto button-sort">
                            <i class="icon-grid-view"></i>
                        </button>
                        <button @@click="grid = true" :class="grid ? 'active' : ''" class="btn btn-clean btn-view-mob ml-auto button-sort">
                            <i class="icon-list-view"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-lg-none view-button-link">
            <a href="#" class="link-styles d-block">Interactive fund centre <i class="icon-tab"></i></a>
        </div>
        <section class="container">
            <div class="text-center my-5" v-if="loading">
                <div class="spinner-border text-gold" role="status"></div>
            </div>
            <div class="row" v-if="grid">
                <article-item inline-template v-for="(fund, i) in searchData" :key="i + fund.fundName">
                    <div class="col-md-6 col-lg-4 col-xl-3 d-flex">
                        <div class="fund-card fund-card_grid">
                            <div class="fund-card__head">
                                <img :src="fund.fundCardImageUrl" :alt="fund.fundCardHeading" />
                            </div>
                            <div class="fund-card__content">
                                <div class="fund-card__content-top">
                                    <span class="fund-card__subtitle">{{fund.fundTeamName}}</span>
                                    <span class="fund-card__title"> {{fund.fundName}}</span>
                                    <div class="fund-card__text">
                                        <div class="fund-card__text-top">
                                            <p>
                                                {{fund.fundCardDescription}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="fund-card__text-bottom">
                                    <div class="fund-card__btns-block">
                                        <a :href="fund.fundFactSheet" class="fund-card__btn">
                                            @Html.Glass().Editable(Model, m => m.FactsheetLabel) <i class="icon-file"></i>
                                        </a>
                                        <button class="fund-card__btn" @@click="showLiteratureOverlay(fund.FundId)">
                                            @Html.Glass().Editable(Model, m => m.AllDocumentsLabel) <i class="icon-folder"></i>
                                        </button>
                                    </div>
                                    <a :href="fund.url" class="link-styles">
                                        {{fund.ctaText ? fund.ctaText : 'View this fund'}}
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article-item>
            </div>
            <article-item v-else inline-template v-for="(fund, i) in searchData" :key="i + fund.fundName">
                <div class="fund-item-list">
                    <div class="row align-items-center">
                        <div class="col-xl-4">
                            <span class="fund-item-list__title">{{fund.fundName}}</span>
                        </div>
                        <div class="col-xl-2">
                            <div class="fund-item-list__badge">
                                <span class="badge-secondary">
                                    {{fund.fundTeamName}}
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-4">
                            <div class="fund-item-list__links">
                                @*<button href="#" class="link-gray">@Html.Glass().Editable(Model, m => m.FollowLabel) <i class="icon-follow"></i></button>*@
                                <a :href="fund.fundFactSheet" target="_blank" class="link-gray">@Html.Glass().Editable(Model, m => m.FactsheetLabel) <i class="icon-file"></i></a>
                                <button class="link-gray view-documents" @@click="showLiteratureOverlay(fund.fundId)">@Html.Glass().Editable(Model, m => m.AllDocumentsLabel) <i class="icon-folder"></i></button>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-2">
                            <div class="fund-item-list__right-btn">
                                <a :href="fund.url" class="btn btn-primary-forward">
                                    {{fund.ctaText ? fund.ctaText : 'View this fund'}} <i class="icon-arrow-right animate-arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </article-item>
        </section>
        @Html.Partial("~/Views/Search/_Pagination.cshtml", Model)
        <div class="lit-overlay__wrapper"></div>
    </div>
}
