@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Configuration
@model LionTrust.Feature.Search.SiteSearch.ISiteSearch
<div class="container" id="result-list-app" v-cloak 
     data-pagesize="@(!string.IsNullOrWhiteSpace(@Model.ResultsPerPage) ? "10" : @Model.ResultsPerPage)" 
     data-host="@(Settings.GetSetting(LionTrust.Feature.Search.Constants.Settings.SiteSearchApiRoute_SettingName))">
    <div class="row">
        <div class="col-lg-7">
            <div class="search-header__desktop">
                <div class="search-header__title">
                    {{amountResults}} search results for:
                </div>
                <form class="search-form" @@submit.prevent="submit">
                    <input v-model="searchParams.query"
                           type="text"
                           class="search-form__input"
                           :placeholder="getQueryText" />
                    <button class="search-form__submit" type="submit">
                        <i class="icon-search"></i>
                    </button>
                </form>
            </div>
            @Html.Partial("~/views/search/_SiteSearchFilters.cshtml", Model)
            <div v-if="loading" class="text-center mb-5">
                <div class="spinner-border text-gold" role="status"></div>
            </div>
            <p v-if="!results.length && !loading" class="search-no-result mb-5">
                @Model.NoSearchResultsFound
            </p>
            <div v-if="init">
                <div class="search-page__items">

                    <div v-for="(item, i) in getSearchResult"
                         :key="i + item.pageTitle"
                         class="search-item">
                        <div class="search-item__header">
                            <a :href="item.url" class="search-item__title">{{item.pageTitle}}</a>
                            <div class="badge search-item__badge">{{item.resultType}}</div>
                        </div>
                        <a :href="item.url">
                            <p class="search-item__text">{{item.copy}}</p>
                        </a>
                        <div v-if="item.resultType === 'Article'" class="search-item__date">
                            <i class="icon-clock"></i>
                            {{item.pageDate}}
                        </div>
                        <div v-if="item.resultType === 'Article'" class="search-item__footer">
                            <div class="search-item__author search-item__footer-item">
                                <img v-if="item.authorImage" :src="item.authorImage" :alt="item.author" class="search-item__author-img" />
                                {{item.author}}
                            </div>
                            <div class="search-item__tag search-item__footer-item">
                                <a :href="item.fundTeamUrl">
                                    <i class="icon-team"></i> {{item.fundTeam}}
                                </a>
                            </div>
                        </div>
                        <div v-if="item.resultType === 'Fund'" class="search-item__footer">
                            <div class="search-item__author search-item__footer-item">
                                <div class="search-item__tag search-item__footer-item">
                                    <a :href="item.factsheetUrl"><i class="icon-file"></i> @Model.FactsheetLinkText</a>
                                </div>
                            </div>
                            <div class="search-item__tag search-item__footer-item">
                                <a :href="item.fundTeamUrl">
                                    <i class="icon-team"></i> {{item.fundTeam}}
                                </a>
                            </div>
                        </div>
                        <div v-if="item.resultType === 'Fund Manager'" class="search-item__footer">
                            <div class="search-item__tag search-item__footer-item">
                                <a :href="item.fundTeamUrl">
                                    <i class="icon-team"></i> {{item.fundTeam}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <nav v-if="getPageAmount > 1" class="pagination justify-content-start mt-3 mb-5">
                    <a href="#" @@click.prevent="prevPage" class="pagination__step pagination__step_forward"
                       :class="disablePrevBtn ? 'pagination__step_disabled' : ''"><i class="icon-arrow-left"></i> @Html.Glass().Editable(m => m.PreviousLabel)</a>
                    <ul class="pagination__list">
                        <li class="pagination__item">
                            <a @@click.prevent="jumpPagesForward" v-if="showForwardPageBtn" href="#"
                               class="pagination__link pagination__link_steps">...</a>
                        </li>
                        <li v-for="(page, i) in getPages" :key="i" class="pagination__item">
                            <a @@click.prevent="changePage(page)" href="#" class="pagination__link"
                               :class="getPage === page ? 'active' : ''">
                                {{page}}
                            </a>
                        </li>
                        <li class="pagination__item">
                            <a @@click.prevent="jumpPagesNext" v-if="showNextPageBtn" href="#"
                               class="pagination__link pagination__link_steps">...</a>
                        </li>
                    </ul>
                    <a href="#" @@click.prevent="nextPage" :class="disabledNextBtn ? 'pagination__step_disabled' : ''"
                       class="pagination__step pagination__step_next">@Html.Glass().Editable(m => m.NextLabel) <i class="icon-arrow-right"></i></a>
                </nav>
            </div>
        </div>
        <div class="offset-lg-1 col-lg-4">
            @Html.Sitecore().Placeholder("related-articles")
        </div>
    </div>
</div>
