@model LionTrust.Feature.Search.SiteSearch.SiteSearchViewModel
<div class="container search-page">
    <div class="row">
        <div class="col-lg-7">
            <div class="search-header__desktop">
                <div class="search-header__title">
                    @Model.TotalResults @Model.Configuration.SearchResultsFoundCopy
                </div> 

                <form class="search-form">
                    <input type="text" class="search-form__input" value="@Model.Query"> 
                    <button type="submit" class="search-form__submit">
                        <i class="icon-search"></i>
                           </button>
                </form>
            </div> 
            @Html.Partial("~/views/search/_SiteSearchFilters.cshtml", new LionTrust.Feature.Search.SiteSearch.SiteSearchFilters { Filters = Model.Configuration.Children, ViewAllText = Model.Configuration.ViewAllFilterText})
            <div>
                <div class="search-page__items">
                    @foreach (var item in Model.Results)
                    {
                        <div class="search-item">
                            <div class="search-item__header">
                                <a href="@item.Url" class="search-item__title">@item.PageTitle</a>
                                <div class="badge search-item__badge">@item.ResultType</div>
                            </div>
                            <a href="@item.Url">
                                <p class="search-item__text">@item.Copy</p>
                            </a>
                            <div class="search-item__date">
                                <i class="icon-clock"></i>
                                @item.PageDate.ToString("dd MMMM yyyy")                                
                            </div>
                            <div class="search-item__footer">
                                <div class="search-item__author search-item__footer-item">
                                    <div class="search-item__tag search-item__footer-item">
                                        @if (!string.IsNullOrEmpty(item.AuthorImage))
                                        {
                                            <img src="@item.AuthorImage" alt="@item.Author" class="search-item__author-img" />
                                            @item.Author
                                        }

                                        @if (!string.IsNullOrEmpty(item.FactsheetUrl))
                                        {
                                            <a href="@item.FactsheetUrl">
                                                <i class="icon-file"></i>
                                                @Model.Configuration.FactsheetLinkText
                                            </a>
                                        }
                                    </div>
                                </div>
                                <div class="search-item__tag search-item__footer-item">
                                    @if (!string.IsNullOrEmpty(item.FundTeam) && !string.IsNullOrEmpty(item.FundTeamUrl))
                                    {
                                        <a href="@item.FundTeamUrl">
                                            <i class="icon-team"></i>
                                            @item.FundTeam
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    }

                </div>                 
            </div>
        </div> 
    </div>
</div>
