@using Sitecore.Configuration
@model LionTrust.Feature.Search.SiteSearch.ISiteSearch
<div class="container" id="result-list-app" data-pagesize="@(!string.IsNullOrWhiteSpace(@Model.ResultsPerPage) ? "10" : @Model.ResultsPerPage)" data-host="@(Settings.GetSetting(LionTrust.Feature.Search.Constants.Settings.SiteSearchApiRoute_SettingName))">
    <div class="row">
        <div class="col-lg-7">
            <div class="search-header__desktop">
                <div class="search-header__title">
                    {{amountResults}} search results for:
                </div>
                <form class="search-form" @@submit.prevent="submit">
                    <input v-model="searchParams.query"
                           type="text"
                           class="search-form__input"
                           :placeholder="getQueryText" />
                    <button class="search-form__submit" type="submit">
                        <i class="icon-search"></i>
                    </button>
                </form>
            </div>
            @Html.Partial("~/views/search/_SiteSearchFilters.cshtml", Model)
            <div v-if="loading" class="text-center mb-5">
                <div class="spinner-border text-gold" role="status"></div>
            </div>
            <p v-if="!results.length && !loading" class="h2 text-center mb-5">
                @Model.SearchResultsFoundCopy
            </p>
            <div v-if="init">
                <div class="search-page__items">

                    <div v-for="(item, i) in getSearchResult"
                         :key="i + item.pageTitle"
                         class="search-item">
                        <div class="search-item__header">
                            <a :href="item.url" class="search-item__title">{{item.pageTitle}}</a>
                            <div class="badge search-item__badge">{{item.resultType}}</div>
                        </div>
                        <a :href="item.url">
                            <p class="search-item__text">{{item.copy}}</p>
                        </a>
                        <div class="search-item__date">
                            <i class="icon-clock"></i>
                            {{item.pageDate}}
                        </div>
                        <div v-if="item.resultType === 'Article'" class="search-item__footer">
                            <div class="search-item__author search-item__footer-item">
                                <img :src="item.authorImage"
                                     :alt="item.author"
                                     class="search-item__author-img" />
                                {{item.author}}
                            </div>
                            <div class="search-item__tag search-item__footer-item">
                                <a :href="item.fundTeamUrl">
                                    <i class="icon-team"></i> {{item.fundTeam}}
                                </a>
                            </div>
                        </div>
                        <div v-if="item.resultType === 'Fund'" class="search-item__footer">
                            <div class="search-item__author search-item__footer-item">
                                <div class="search-item__tag search-item__footer-item">
                                    <a :href="item.factsheetUrl"><i class="icon-file"></i> Factsheet</a>
                                </div>
                            </div>
                            <div class="search-item__tag search-item__footer-item">
                                <a :href="item.fundTeamUrl">
                                    <i class="icon-team"></i> {{item.fundTeam}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.Partial("~/Views/Search/_Pagination.cshtml", Model)
            </div>
        </div>
    </div>
</div>
