@using Glass.Mapper.Sc.Web.Mvc
@using LionTrust.Foundation.ORM.Extensions
@using System.Collections.Specialized;
@model LionTrust.Feature.Promo.Models.IPodcastPromo
@if (Model != null)
{
    <div class="podcast">
        <div class="container">
            <div class="row">
                <div class="podcast__box">
                    @Html.Glass().RenderImage(Model, x => x.BackgroundImage, new NameValueCollection { { "class", "podcast__back" } })
                    <div class="podcast__front">
                        <div class="podcast__head">
                            <i class="icon-mic podcast__mic"></i>
                            @Html.Glass().Editable(Model, x => x.Heading)
                        </div>

                        <div class="podcast__tit txtlimit">
                            @Html.Glass().Editable(Model, x => x.Title)
                        </div>

                        <div class="podcast__desc txtlimit">
                            @Html.Glass().Editable(Model, x => x.Body)
                        </div>

                        <div class="podcast__footer">
                            @if (Sitecore.Context.PageMode.IsExperienceEditor)
                            {
                                using (Html.Glass().BeginEditFrame("/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Feature/Promo/PodcastPromo", Model.Id.ToString(), "Edit Podcast Promo"))
                                {
                                    <div>Add/Edit the Podcast Promo</div>
                                }
                            }
                            @if (Model.PodcastLinks != null && Model.PodcastLinks.Any() || Sitecore.Context.PageMode.IsExperienceEditor)
                            {
                                <span>@Html.Glass().Editable(Model, x => x.PodcastsLabel) </span>

                                foreach (var podcastLink in Model.PodcastLinks)
                                {
                                    using (Html.Glass().BeginEditFrame("/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Feature/Promo/PodcastLink", podcastLink.Id.ToString(), "Edit Podcast Link"))
                                    {                                        
                                        using (Html.BeginRenderLinkWithGoal(podcastLink, m => m.Link, isEditable: true))
                                        {

                                            <i class="icon-apple"></i>
                                        }
                                    }
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <div>Please assign datasource for Podcast Promo component!</div>
}