@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using LionTrust.Foundation.SitecoreExtensions.Extensions
@{
    Layout = null;
    var sitecoreService = (Glass.Mapper.Sc.ISitecoreService)Sitecore.DependencyInjection.ServiceLocator.ServiceProvider.GetService(typeof(Glass.Mapper.Sc.ISitecoreService));
    var seoItem = sitecoreService.GetItem<LionTrust.Foundation.Legacy.Models.ISeo>(Html.Sitecore().CurrentItem.ID.Guid);
}
@using LionTrust.Project.EIT
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@seoItem.BrowserTitle</title>

    <link rel="icon" href="/dist/EIT/favicon.ico">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="facebook-domain-verification" content="l4k5mtgmseno37nys4690q1h7swfn2" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    @if (!string.IsNullOrEmpty(seoItem.MetaDescription))
    {
        <meta name="description" content="@seoItem.MetaDescription">
    }
    @if (!string.IsNullOrEmpty(seoItem.MetaKeywords))
    {
        <meta name="keywords" content="@seoItem.MetaKeywords">
    }
    @if (seoItem.MetaRobots != null && !string.IsNullOrEmpty(seoItem.MetaRobots.Content))
    {
        <meta name="robots" content="@seoItem.MetaRobots.Content">
    }
    @Html.Sitecore().VisitorIdentification()
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="#000">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/dist/EIT/css/styles.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <link rel="canonical" href="@Html.Sitecore().CurrentItem.GetCanonicalUrl()">
    <script src="/dist/EIT/js/app.min.js"></script>
    @Html.Sitecore().Placeholder("head-script")
</head>

@{
    var isExperienceEditor = Sitecore.Context.PageMode.IsExperienceEditor ? "experience-editor" : string.Empty;
}

<body class="@isExperienceEditor">
    @Html.Sitecore().Placeholder("body-script")
    @Html.Sitecore().Placeholder("header")
    <main itemscope itemprop="mainContentOfPage">
        <article class="text-black">
            @Html.Sitecore().Placeholder("article-main")
        </article>
    </main>
    @Html.Sitecore().Placeholder("footer")

    @Html.RenderFormStyles()
    @Html.RenderFormScripts()

    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        <script src="/assets/js/addAnalyticsTracking.js"></script>
    }
</body>
</html>