@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.Video.Models.IVideoWithCopy
@if (Model == null && !Sitecore.Context.PageMode.IsExperienceEditor)
{
    return;
}
@{ 
    var useRighTextAlignment = Model.TextAlignment == null || string.IsNullOrEmpty(Model.TextAlignment.Value) || Model.TextAlignment.Value.Equals("right");
}
<section class="container video-with-text">
    <div class="row">
        <div class="col-xl-6 @(useRighTextAlignment ? "order-xl-1" : "order-xl-0")">
            <h2 class="h2">
                @Html.Glass().Editable(m => m.Heading)
            </h2>
            <div class="video-with-text__text">
                <p class="font-500">
                    @Html.Glass().Editable(m => m.Subheading)
                </p>
                @Html.Glass().Editable(m => m.Copy)
            </div>
        </div>
        <div class="col-xl-6">
            @{
                Html.RenderPartial("/views/video/video.cshtml", Model);
            }
            <div class="video-with-text__video-title">@Html.Glass().Editable(m => m.Title)</div>

        </div>
    </div>
</section>