@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Mvc
@using LionTrust.Foundation.ORM.Extensions;
@model LionTrust.Feature.Article.Models.ArticleViewModel
<header class="header header-hero d-flex flex-column justify-content-between" style="@Model.BackgroundImageStyle">
    <section class="container">
        @Html.Sitecore().Placeholder("navigation")
        <div class="d-flex flex-column">
            <div class="row">
                <div class="col-xl-6 offset-xl-3">
                    <div class="article-hero">
                        <div class="hero-author hero-author_big">
                            @using (Html.Glass().BeginEditFrame(Model.ArticleData, "Edit author", m => m.Author))
                            {
                                <img src="@Model.AuthorImageUrl"
                                     alt="@Model.AuthorName" class="hero-author__img">
                            }
                            <div class="hero-author__content">
                                <span class="hero-author__name">
                                    @Model.AuthorName <i class="icon-follow"></i>
                                </span>
                                <span class="hero-author__date">
                                    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
                                    {
                                        if (Model.ArticleData.Date.Equals(DateTime.MinValue))
                                        {
                                            @Model.ArticleData.CreatedDate.ToString("dd-MM-yy")
                                        }
                                        else
                                        {
                                            @Model.ArticleDate.Date.ToString("dd-MM-yy")
                                        }
                                    }
                                    else
                                    {
                                        @Html.Glass().Editable(m => m.ArticleData.Date, d => d.ArticleData.Date.ToString("dd-MM-yy"))
                                    }
                                </span>
                            </div>
                        </div>
                        <div class="article-hero__content text-center">
                            <h1 class="article-hero__title">
                                @Html.Glass().Editable(m => m.ArticleData.Title)
                            </h1>
                            @using (Html.Glass().BeginEditFrame(Model.ArticleData, "Edit topics", m => m.Topics))
                            {
                                <div class="topic-follow d-none d-lg-flex">
                                    @foreach (var item in Model.ArticleData.Topics)
                                    {
                                        <a href="@item.Url" class="follow-btn"><i class="icon-follow"></i>@item.Title</a>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section">
        @Html.Sitecore().Placeholder("article-header")
    </div>
</header>