@using Glass.Mapper.Sc.Web.Mvc
@using LionTrust.Foundation.Onboarding.Helpers
@model LionTrust.Foundation.Onboarding.Models.IChooseCountry
@if (Model != null)
{
    <div class="onboarding-overlay__tab" data-tab-number="0">
        <div class="onboarding-overlay__title">
            @Html.Glass().Editable(Model, m => m.Title)
        </div>
        <div class="row set-location__row">
            @foreach (var region in Model.Regions)
            {
                <div class="col-4 col-lg-4 set-location">
                    <div class="set-location__content">
                        <ul class="set-location__list">
                            @foreach (var country in region.Countries)
                            {
                                var countryName = OnboardingHelper.GetCountryNameDefiniteArticle(country);
                                var countryGoal = country.GoalId != null ? country.GoalId.ToString() : string.Empty;
                                <li class="set-location__item" data-iso-country="@country.ISO" data-name-country="@countryName" data-goal-trigger="@countryGoal">@Html.Glass().Editable(country, c => c.CountryName)</li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="onboarding-overlay__tab" data-tab-number="1">
        <div class="onboarding-overlay__title">
            @Html.Glass().Editable(Model, m => m.Subtitle) @Model.CurrentCountryName
        </div>
        <div class="onboarding-overlay__btns">
            <button data-set-step="2" data-iso-country="@Model.CurrentCountryIso" data-name-country="@Model.CurrentCountryName" class="btn btn-primary onboarding-overlay__set-step" id="correct-location">
                @Html.Glass().Editable(Model, m => m.CorrectLocationText)
                <i class="icon-arrow-right animate-arrow"></i>
            </button>
        </div>
        <a href="#" data-set-step="0" class="onboarding-overlay__get-hint onboarding-overlay__set-step">
            @Html.Glass().Editable(Model, m => m.IncorrectLocationText)
        </a>
    </div>
}
