@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Foundation.Onboarding.Models.IChooseInvestorRole
@if (Model != null)
{
    <div class="onboarding-overlay__title uk-title">
        @Html.Glass().Editable(Model, m => m.Title)
    </div>
    <div class="onboarding-overlay__title non-uk-title">
        @Html.Glass().Editable(Model, m => m.NonUKTitle)
    </div>
    <div class="container onboarding-overlay__container">
        <div class="onboarding-overlay__btns row">
            @foreach (var investor in Model.Investors)
            {
                <div class="col-6 col-md-4 onboarding-overlay__btn-col">
                    <button data-set-step="3" data-investor-type="@investor.Id"
                            data-excluded-countires="@string.Join("|", investor.ExcludedCountires)" data-investor-name="@investor.InvestorName"
                            class="btn btn-primary onboarding-overlay__set-step">
                        <span class="onboarding-overlay__btn-title">@Html.Glass().RenderImage(investor, i => i.InvestorIcon, isEditable: false) @investor.InvestorName</span>
                        <span class="onboarding-overlay__btn-description">@investor.InvestorDescription</span>
                    </button>
                </div>               
            }
        </div>
        <a href="#" data-toggle="modal" data-target="#exampleModal" class="onboarding-overlay__get-hint">
            @Html.Glass().Editable(Model, m => m.ModalCTAText)
        </a>
    </div>
}
