@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Foundation.Onboarding.Models.ITermsAndConditions
@if (Model != null)
{
    <div class="onboarding-overlay__tab" data-tab-number="3">
        <div class="onboarding-overlay__title">
            @Html.Glass().Editable(Model, m => m.Title)
        </div>
        <div class="onboarding-overlay__text">
            @Html.Glass().Editable(Model, m => m.AcceptanceFirstText)

            @using (Html.Glass().BeginRenderLink(Model, m => m.AcceptanceLink, new System.Collections.Specialized.NameValueCollection { { "class", "onboarding-overlay__link" } }, isEditable: true))
            {
                if (Model.AcceptanceLink != null)
                {
                    @Model.AcceptanceLink.Text
                }
            }
            @Html.Glass().Editable(Model, m => m.AcceptanceSecondText)
        </div>
        <div class="onboarding-overlay__scroller terms-text">

        </div>
        <div class="onboarding-overlay__btns">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="hidden" id="Country" name="Country" />
                <input type="hidden" id="InvestorId" name="InvestorId" />
                <button class="btn btn-primary" id="submit-board" data-goal-trigger="@Model.Goal?.Id">
                    @Html.Glass().Editable(Model, m => m.ButtonText)
                    <i class="icon-arrow-right animate-arrow"></i>
                </button>
            }
        </div>
    </div>
}
