@using Glass.Mapper.Sc.Web.Mvc
@using LionTrust.Foundation.Analytics.Goals
@model LionTrust.Feature.Navigation.Models.IAnchorLinks
@if (Model == null && !Sitecore.Context.PageMode.IsExperienceEditor)
{
    return;
}
<div class="page-anchor-link" id="sticky-navbar">
    <div class="container">
        <div class="page-anchor full-wigth">
            <div class="page-anchor__right page-anchor__right-mobile">
                <button class="page-anchor__title" id="open-page-anchor">
                    <span>@Html.Glass().Editable(m => m.Heading)</span>
                </button>
                <div class="page-anchor__links page-anchor__links-mobile">
                    @foreach (var item in Model.Children)
                    {
                        using (Html.Glass().BeginEditFrame<LionTrust.Foundation.Navigation.Models.IAnchor>(item, null, i => i.AnchorId, i => i.AnchorName))
                        {
                            <a href="#@item.AnchorId" class="page-anchor__link">@item.AnchorName</a>
                        }
                    }
                </div>
            </div>
            <div class="page-anchor__right">
                <button class="page-anchor__title">
                    <span>@Html.Glass().Editable(m => m.Heading)</span>
                </button>
                <div class="page-anchor__links navbar">
                    @foreach (var item in Model.Children)
                    {
                        using (Html.Glass().BeginEditFrame<LionTrust.Foundation.Navigation.Models.IAnchor>(item, null, i => i.AnchorId, i => i.AnchorName))
                        {
                            <a href="#@item.AnchorId" class="page-anchor__link">@item.AnchorName</a>
                        }
                    }
                </div>
            </div>
            @if (Model.Cta != null || Sitecore.Context.PageMode.IsExperienceEditor)
            {
                <div class="page-anchor__left">
                    @{ 
                        var linkClass = "btn btn-primary display-inline-block";
                        if (Model.Cta != null && !string.IsNullOrEmpty(Model.Cta.Class))
                        {
                            linkClass = linkClass + " " + Model.Cta.Class;
                        }
                    }
                    @using (Html.Glass().BeginRenderLinkWithGoal(Model, m => m.Cta, Model.GoalId, new System.Collections.Specialized.NameValueCollection { { "class", linkClass } }, isEditable: true))
                    {
                        if (Model.Cta != null)
                        {
                            @Model.Cta.Text
                        }                       
                        <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>                
                    }
                </div>
            }
        </div>
    </div>
</div>