@using Glass.Mapper.Sc.Web.Mvc
@using System.Collections.Specialized;
@using LionTrust.Foundation.Navigation.Models;
@using LionTrust.Foundation.Analytics.Goals
@model LionTrust.Feature.Navigation.Models.IHome
@if (Model != null && Model.FooterConfiguration != null)
{
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-6 col-lg-3 footer__bottom-item">
                            <span class="footer__title h5">@Html.Glass().Editable(Model.FooterConfiguration, x => x.FindUsLabel)</span>
                            <ul class="footer__list">
                                <li class="footer__item">
                                    <a href="#" class="footer__link">@Html.Glass().Editable(Model.FooterConfiguration, x => x.Address)</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="footer__link">@Html.Glass().Editable(Model.FooterConfiguration, x => x.Location)</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="footer__link">@Html.Glass().Editable(Model.FooterConfiguration, x => x.PostalCode)</a>
                                </li>
                            </ul>
                            @if (Model.FooterConfiguration.GoogleMapsLink != null || Sitecore.Context.PageMode.IsExperienceEditor)
                            {
                                using (Html.Glass().BeginRenderLinkWithGoal(Model.FooterConfiguration, m => m.GoogleMapsLink, Model.FooterConfiguration.GoogleMapsGoal, new NameValueCollection { { "class", "footer__map-link" }, { "target", "_blank" } }, isEditable: true))
                                {
                                    if (!string.IsNullOrEmpty(Model.FooterConfiguration.GoogleMapsLink.Text))
                                    {
                                        @Model.FooterConfiguration.GoogleMapsLink.Text
                                    }
                                    <i class="icon-tab"></i>
                                }
                            }
                        </div>
                        <div class="col-6 col-lg-3 footer__bottom-item">
                            <div>
                                <span class="footer__title h5">@Html.Glass().Editable(Model.FooterConfiguration, x => x.GetInTouchLabel)</span>
                                <ul class="footer__list">
                                    <li class="footer__item">
                                        <a href="tel:@Model.FooterConfiguration.PhoneNumber" class="footer__link" data-goal-trigger="@Model.FooterConfiguration.PhoneGoal">@Html.Glass().Editable(Model.FooterConfiguration, x => x.PhoneNumber)</a>
                                    </li>
                                    <li class="footer__item">
                                        <a href="mailto:@Model.FooterConfiguration.Email" class="footer__link footer__link_arrow" data-goal-trigger="@Model.FooterConfiguration.EmailCTAGoal">
                                            @Model.FooterConfiguration.EmailCTALabel
                                            <i class="icon-arrow-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="social">
                                @if (Model.FooterConfiguration != null
                                    && Model.FooterConfiguration.SocialIcons != null
                                    && Model.FooterConfiguration.SocialIcons.Any())
                                {
                                    foreach (var socialLink in Model.FooterConfiguration.SocialIcons)
                                    {
                                        if (socialLink.TwitterAccounts == null || !socialLink.TwitterAccounts.Any())
                                        {
                                            <a href="@(socialLink.SocialLink != null ? socialLink.SocialLink.Url : "#")"
                                               class="social__link" data-goal-trigger="@socialLink.SocialLinkGoal" target="_blank">
                                                @Html.Glass().RenderImage(socialLink, x => x.SocialIcon, new NameValueCollection { { "class", "social__link-icon" } }, isEditable: true)
                                            </a>
                                        }
                                        else
                                        {
                                            <span class="social__link">
                                                @Html.Glass().RenderImage(socialLink, x => x.SocialIcon, new NameValueCollection { { "class", "social__link-icon" } }, isEditable: true)
                                                <div class="social__twitter">
                                                    @foreach (var account in socialLink.TwitterAccounts)
                                                    {
                                                        <a href="https://twitter.com/@account.TwitterAccountName" target="_blank" data-goal-trigger="@account.CTAGoal" class="social__twitter-link">@@@account.TwitterAccountName</a>
                                                    }
                                                </div>
                                            </span>
                                        }
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-12 my-4 my-lg-0 col-lg-6 footer__section">
                            <span class="footer__title h5">@Html.Glass().Editable(Model.FooterConfiguration, m => m.SubscribeNewsletterLabel)</span>
                            @if (Model.FooterConfiguration.SubscribeCTALink != null || Sitecore.Context.PageMode.IsExperienceEditor)
                            {
                                using (Html.Glass().BeginRenderLinkWithGoal(
                                    Model.FooterConfiguration,
                                    m => m.SubscribeCTALink,
                                    Model.FooterConfiguration.SubscribeCTAGoal,
                                    new NameValueCollection { { "class", "footer__link footer__link_arrow footer__link_sign" } },
                                    isEditable: true))
                                {
                                    if (!string.IsNullOrEmpty(Model.FooterConfiguration.SubscribeCTALink.Text))
                                    {
                                        @Model.FooterConfiguration.SubscribeCTALink.Text
                                    }
                                    <i class="icon-arrow-right"></i>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row">
                        @if (Model.FooterConfiguration != null
                            && Model.FooterConfiguration.PageLink != null
                            && Model.FooterConfiguration.PageLink.Any())
                        {
                            IEnumerable<IPageLink> firstColumnLinks = null;
                            IEnumerable<IPageLink> secondColumnLinks = null;
                            var footerLinksCount = Model.FooterConfiguration.PageLink.Count();
                            if (footerLinksCount > 1)
                            {
                                firstColumnLinks = Model.FooterConfiguration.PageLink.Take(footerLinksCount / 2);
                                secondColumnLinks = Model.FooterConfiguration.PageLink.Skip(footerLinksCount / 2);
                            }

                            <div class="col-6 col-lg-12 footer__section">
                                <nav>
                                    <ul class="footer__nav">
                                        @if (firstColumnLinks != null && firstColumnLinks.Any())
                                        {
                                            foreach (var footerLink in firstColumnLinks)
                                            {
                                                if (footerLink != null && (footerLink.PageLink != null || Sitecore.Context.PageMode.IsExperienceEditor))
                                                {
                                                    <li class="footer__list-item">
                                                        @using (Html.Glass().BeginRenderLinkWithGoal(footerLink, m => m.PageLink, footerLink.PageLinkGoal, new NameValueCollection { { "class", "footer__mav-list" } }, isEditable: true))
                                                        {
                                                            if (footerLink.PageLink != null)
                                                            {
                                                                @footerLink.PageLink.Text
                                                            }
                                                        }
                                                    </li>
                                                }
                                            }
                                        }
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-6 col-lg-12 footer__section">
                                <nav>
                                    <ul class="footer__nav">
                                        @if (secondColumnLinks != null && secondColumnLinks.Any())
                                        {
                                            foreach (var footerLink in secondColumnLinks)
                                            {
                                                if (footerLink != null && (footerLink.PageLink != null || Sitecore.Context.PageMode.IsExperienceEditor))
                                                {
                                                    <li class="footer__list-item">
                                                        @using (Html.Glass().BeginRenderLinkWithGoal(footerLink, m => m.PageLink, footerLink.PageLinkGoal, new NameValueCollection { { "class", "footer__mav-list" } }, isEditable: true))
                                                        {
                                                            if (footerLink.PageLink != null)
                                                            {
                                                                @footerLink.PageLink.Text
                                                            }
                                                        }
                                                    </li>
                                                }
                                            }
                                        }
                                    </ul>
                                </nav>
                            </div>

                        }
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-6">
                    <span class="footer__copy">
                        @if (Sitecore.Context.PageMode.IsExperienceEditor)
                        {
                            @Html.Glass().Editable(Model.FooterConfiguration, x => x.Copyright)
                        }
                        else if (!string.IsNullOrEmpty(Model.FooterConfiguration.Copyright))
                        {
                            @Model.FooterConfiguration.Copyright.Replace("{year}", DateTime.Now.Year.ToString())
                        }
                    </span>
                </div>

                <div class="offset-lg-3 col-lg-3">
                    @if (!string.IsNullOrEmpty(Model.OnboardingRoleName))
                    {
                        <span class="footer__copy">
                            @Model.YouAreViewingLabelWithArticle
                            <span class="footer__investor" id="InvestorType">
                                @Model.OnboardingRoleName
                            </span>
                            | <a href="@Model.ChangeInvestorUrl" class="footer__change-type">@Html.Glass().Editable(Model, m => m.ChangeLabel)</a>
                        </span>
                    }
                </div>
            </div>
            <img src="https://wp-nav-pro.com/vrim/FyWpS6crAeQua0pHQuF1Bv7hOsAs0XlInLqeZxoAnNjlqqZZiMa9hLFgQCsCZtFw/" alt="" width="1" height="1" />
        </div>
    </footer>
}
else if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    @:Issue with navigation: wrong Home item
}