@using Glass.Mapper.Sc.Web.Mvc
@using System.Collections.Specialized;
@using LionTrust.Feature.Navigation.Models;
@model LionTrust.Feature.Navigation.Models.IHome
@if (Model != null && Model.FooterConfiguration != null)
{
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-6 col-lg-3 footer__bottom-item">
                            <span class="footer__title h5">@Html.Glass().Editable(Model.FooterConfiguration, x => x.FindUsLabel)</span>
                            <ul class="footer__list">
                                <li class="footer__item">
                                    <a href="#" class="footer__link">@Html.Glass().Editable(Model.FooterConfiguration, x => x.Address)</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="footer__link">@Html.Glass().Editable(Model.FooterConfiguration, x => x.Location)</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="footer__link">@Html.Glass().Editable(Model.FooterConfiguration, x => x.PostalCode)</a>
                                </li>
                            </ul>
                            @if (Model.FooterConfiguration.GoogleMapsLink != null || Sitecore.Context.PageMode.IsExperienceEditor)
                            {
                                using (Html.Glass().BeginRenderLink(Model.FooterConfiguration, m => m.GoogleMapsLink, new NameValueCollection { { "class", "footer__map-link" } }, isEditable: true))
                                {
                                    @Html.Glass().Editable(Model.FooterConfiguration, x => x.GoogleMapsCTALabel)<i class="icon-tab"></i>
                                }
                            }
                            else
                            {
                                <a href="#" class="footer__map-link">
                                    @Html.Glass().Editable(Model.FooterConfiguration, x => x.GoogleMapsCTALabel)<i class="icon-tab"></i>
                                </a>
                            }
                        </div>
                        <div class="col-6 col-lg-3 footer__bottom-item">
                            <div>
                                <span class="footer__title h5">@Html.Glass().Editable(Model.FooterConfiguration, x => x.GetInTouchLabel)</span>
                                <ul class="footer__list">
                                    <li class="footer__item">
                                        <a href="tel:@Model.FooterConfiguration.PhoneNumber" class="footer__link">@Html.Glass().Editable(Model.FooterConfiguration, x => x.PhoneNumber)</a>
                                    </li>
                                    <li class="footer__item">
                                        @if (Sitecore.Context.PageMode.IsExperienceEditor)
                                        {
                                            <div class="footer__link footer__link_arrow">
                                                @Html.Glass().Editable(Model.FooterConfiguration, x => x.Email)
                                                @Html.Glass().Editable(Model.FooterConfiguration, x => x.EmailCTALabel)<i class="icon-arrow-right"></i>
                                            </div>
                                        }
                                        else
                                        {
                                            <a href="mailto:@Model.FooterConfiguration.Email" class="footer__link footer__link_arrow">
                                                @Model.FooterConfiguration.EmailCTALabel
                                                <i class="icon-arrow-right"></i>
                                            </a>
                                        }
                                    </li>
                                </ul>
                            </div>
                            <div class="social">
                                @if (Model.FooterConfiguration != null
                                    && Model.FooterConfiguration.SocialIcons != null
                                    && Model.FooterConfiguration.SocialIcons.Any())
                                {
                                    foreach (var socialLink in Model.FooterConfiguration.SocialIcons)
                                    {
                                        if (string.IsNullOrEmpty(socialLink.TwitterAccounts))
                                        {
                                            if (socialLink.SocialLink != null || Sitecore.Context.PageMode.IsExperienceEditor)
                                            {
                                                using (Html.Glass().BeginRenderLink(socialLink, m => m.SocialLink, new NameValueCollection { { "class", "social__link" } }, isEditable: true))
                                                {
                                                    @Html.Glass().RenderImage(socialLink, x => x.SocialIcon, new NameValueCollection { { "class", "social__link-icon" } }, isEditable: true)
                                                }
                                            }
                                            else
                                            {
                                                <a href="#" class="social__link">
                                                    @Html.Glass().RenderImage(socialLink, x => x.SocialIcon, new NameValueCollection { { "class", "social__link-icon" } }, isEditable: true)
                                                </a>
                                            }
                                        }
                                        else
                                        {
                                            <span class="social__link">
                                                @Html.Glass().RenderImage(socialLink, x => x.SocialIcon, new NameValueCollection { { "class", "social__link-icon" } }, isEditable: true)
                                                <div class="social__twitter">
                                                    @if (Sitecore.Context.PageMode.IsExperienceEditor)
                                                    {
                                                        @:Add here the twitter account names delimited by space:
                                                        <div class="social__twitter-link">@Html.Glass().Editable(socialLink, m => m.TwitterAccounts)</div>
                                                    }
                                                    else
                                                    {
                                                        if (!string.IsNullOrEmpty(socialLink.TwitterAccounts))
                                                        {
                                                            var accounts = socialLink.TwitterAccounts.Split(',');
                                                            foreach (var account in accounts)
                                                            {
                                                                <a href="https://twitter.com/@account" class="social__twitter-link">@@@account</a>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </span>
                                        }
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-12 my-4 my-lg-0 col-lg-6 footer__section">
                            <span class="footer__title h5">@Html.Glass().Editable(Model.FooterConfiguration, m => m.SubscribeNewsletterLabel)</span>
                            @if (Model.FooterConfiguration.SubscribeCTALink != null || Sitecore.Context.PageMode.IsExperienceEditor)
                            {
                                using (Html.Glass().BeginRenderLink(
                                    Model.FooterConfiguration,
                                    m => m.SubscribeCTALink, 
                                    new NameValueCollection { { "class", "footer__link footer__link_arrow footer__link_sign" } }, 
                                    isEditable: true))
                                {
                                    @Html.Glass().Editable(Model.FooterConfiguration, x => x.SubscribeCTALabel)<i class="icon-arrow-right"></i>
                                }
                            }
                            else
                            {
                                <a href="#" class="footer__link footer__link_arrow footer__link_sign">
                                    @Html.Glass().Editable(Model.FooterConfiguration, x => x.SubscribeCTALabel)<i class="icon-arrow-right"></i>
                                </a>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row">
                        @if (Model.FooterConfiguration != null
                            && Model.FooterConfiguration.PageLink != null
                            && Model.FooterConfiguration.PageLink.Any())
                        {
                            IEnumerable<IPageLink> firstColumnLinks = null;
                            IEnumerable<IPageLink> secondColumnLinks = null;
                            var footerLinksCount = Model.FooterConfiguration.PageLink.Count();
                            if (footerLinksCount > 1)
                            {
                                firstColumnLinks = Model.FooterConfiguration.PageLink.Take(footerLinksCount / 2);
                                secondColumnLinks = Model.FooterConfiguration.PageLink.Skip(footerLinksCount / 2);
                            }

                            <div class="col-6 col-lg-12 footer__section">
                                <nav>
                                    <ul class="footer__nav">
                                        @if (firstColumnLinks != null && firstColumnLinks.Any())
                                        {
                                            foreach (var footerLink in firstColumnLinks)
                                            {
                                                if (footerLink != null && (footerLink.PageLink != null || Sitecore.Context.PageMode.IsExperienceEditor))
                                                {
                                                    <li class="footer__list-item">
                                                        @Html.Glass().RenderLink(footerLink, m => m.PageLink, new NameValueCollection { { "class", "footer__mav-list" } }, isEditable: true)
                                                        
                                                    </li>
                                                }
                                            }
                                        }
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-6 col-lg-12 footer__section">
                                <nav>
                                    <ul class="footer__nav">
                                        @if (secondColumnLinks != null && secondColumnLinks.Any())
                                        {
                                            foreach (var footerLink in secondColumnLinks)
                                            {
                                                if (footerLink != null && (footerLink.PageLink != null || Sitecore.Context.PageMode.IsExperienceEditor))
                                                {
                                                    <li class="footer__list-item">
                                                        @Html.Glass().RenderLink(footerLink, m => m.PageLink, new NameValueCollection { { "class", "footer__mav-list" } }, isEditable: true)
                                                    </li>
                                                }
                                            }
                                        }
                                    </ul>
                                </nav>
                            </div>

                        }
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-6">
                    <span class="footer__copy">@Html.Glass().Editable(Model.FooterConfiguration, x => x.Copyright)</span>
                </div>
                <div class="offset-lg-3 col-lg-3">
                    <span class="footer__investor">
                        Private investor - TO DO
                        <i class="icon-chevron"></i>
                    </span>
                </div>
            </div>
        </div>
    </footer>
}
else if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    @:Issue with navigation: wrong Home item
}